<!--List Container-->
<h3 class="title">{{file.path}}</h3>
<ul class="dropdown-list-container">

  <!--First List-->
  <li class="dropdown-list">
    <!--List Title-->
    <a dropdown-prop="title">Building<i class="dropdown-icon"></i></a>
    <!--List Items-->
    <ul class="dropdown-list-items">
      {{#each item in physicalAsset}}
        {{item.key}}:
        <ul>
          {{#each value in item.values}}
            <li>{{value}}</li>
          {{/each}}
        </ul>
      {{/each}}
    </ul>
  </li>

  <!--Second List-->
  <li class="dropdown-list">
    <!--List Title-->
    <a dropdown-prop="title">Digital Representation<i class="dropdown-icon"></i></a>
    <!--List Items-->
    <ul class="dropdown-list-items">
      {{#each item in digitalObject}}
        {{item.key}}:
        <ul>
          {{#each value in item.values}}
            <li>{{value}}</li>
          {{/each}}
        </ul>
      {{/each}}
    </ul>
  </li>

  <!--Third List-->
  <li class="dropdown-list">
    <!--List Title-->
    <a dropdown-prop="title">File<i class="dropdown-icon"></i></a>
    <!--List Items-->
    <ul class="dropdown-list-items">
      <li>Coming soon!</li>
    </ul>
  </li>
</ul>
