<!--List Container-->
<div class="l-buildm-editor c-buildm-editor">

  <div class="c-buildm-editor__title">
    <h2 {{action "save"}}>{{formDescription.itemName}}</h2>

    {{#if showSaveButton}}
      <div class="c-buildm-editor__save">
        <button {{action "save"}}>Save</button>
        <button {{action "restore"}}>Cancel</button>
      </div>
    {{/if}}
  </div>

  <div class="c-buildm-editor__properties">
    <fieldset>
      {{#each formDescription as |item|}}
        <label><i class="fa fa-dot-circle-o"></i>&nbsp; {{item.label}}</label>
        {{#if item.mandatory}}*{{/if}}

        <div class="c-buildm-editor__description">{{item.doc}}</div>
        {{#each item.values as |value|}}
          {{input class="dropdown-list-metadata-labels" value=value.value key-press="metadataChanged"}}
        {{/each}}
        {{#if item.multiples}}
          {{input class="dropdown-list-metadata-labels dropdown-list-placehoder" placeholder=item.addLabel value=item.newValue key-press="metadataChanged"}}
          <div class="c-buildm-editor__add">
            <button type="button" {{action "addItem" item}}><i class="fa fa-plus"></i></button>
          </div>
        {{else}}
          {{#if item.values.length}}
          {{else}}
            {{input class="dropdown-list-metadata-labels" value=item.newValue key-press="metadataChanged"}}
          {{/if}}
        {{/if}}
        <hr>
      {{/each}}
    </fieldset>
  </div>

</div>
