<div class="c-building-list-item {{if building.isSelected "selected"}}">

  <header {{action "showDetails" building}}>
    {{building.label}}
  </header>

  <div {{action "showDetails" building}} class="c-building-list-item__content">
    <div class="c-building-list-item__desc">
      {{description}}
    </div>
    <div class="c-building-list-item__buttons">
      <button><i class="fa fa-map-marker fa-lg"></i>&nbsp; Locate</button>
      <button {{action "openBuilding" building}}><i class="fa fa-database"></i>&nbsp; Edit</button>
      <button {{action "showDetails" building}}><i class="fa fa-lightbulb-o fa-lg"></i>&nbsp; Explore</button>
    </div>
  </div>
</div>
