<!--List Container-->
<ul class="dropdown-list-container">

  <!--Second List-->
  <li class="dropdown-list">
    <!--List Title-->
    <a dropdown-prop="title" {{action "save"}}>{{label}}: <br> {{formDescription.itemName}}</a>

    {{#if showSaveButton}}
      <button {{action "save"}}>Save</button>
      <button {{action "restore"}}>Cancel</button>
    {{/if}}

    <!--List Items-->
    <div class="dropdown-list-items dropdown-list-open">
      <fieldset>

        {{#each item in formDescription}}

          <label>{{item.label}}:</label>
          {{#if item.mandatory}}*{{/if}}

          <div>{{item.doc}}</div>

          {{#each value in item.values}}
            {{input value=value.value action="metadataChanged" on="key-press"}}
          {{/each}}

          {{#if item.multiples}}
            {{input placeholder=item.addLabel value=item.newValue action="metadataChanged" on="key-press"}}
            <button type="button" {{action "addItem" item}}>+</button>
          {{else}}
            {{#if item.values.length}}
            {{else}}
              {{input value=item.newValue action="metadataChanged" on="key-press"}}
            {{/if}}
          {{/if}}

        {{/each}}
      </fieldset>
    </div>
  </li>

</ul>
