<div class="l-file c-file">
  <div style="position: relative;">

    <div class="c-tool-item__header" {{action "infoClicked" tool}}>
      {{#if tool.showSlider}}
        Select
      {{/if}}
      {{#if tool.hasData}}
        Download Compressed File &nbsp;<i class="fa fa-cloud-download"></i>
      {{/if}}
      {{#if tool.isLoading}}
        Pending...
      {{/if}}
      {{#if tool.hasError}}
        Show Error &nbsp;<i class="fa fa-arrow-circle-o-right fa-lg"></i>
      {{/if}}
    </div>

    <div class="c-file__name" style="text-align: center;">
      {{#if tool.showSlider}}
        <strong>Compression Ratio
          <br>(0.0 - 1.0):</strong>

        <div class="faux-select" style="margin-top: 1em; margin-bottom: 1em">
          {{input value=tool.compressionRatio placeholder=tool.compressionRatio}}
        </div>

        <button type="button" {{action "startClicked"}}>Compress</button>
      {{else}}
        <br>
        <strong>Compression Ratio: {{tool.compressionRatio}}</strong>

        {{#if tool.isLoading}}
          {{inline-spinner}}
        {{/if}}

      {{/if}}

    </div>

  </div>
  <div class="c-file__actions">
    <div {{action "remove" tool}} class="c-file__action" style="float: left;">
      {{#unless static}}
        <i class="fa fa-remove"></i>
      {{/unless}}
    </div>
  </div>

</div>
