<div class="l-file c-file">
  <div style="position: relative;">

    <div class="c-tool-item__header" {{action "infoClicked" tool}}>
      {{#if tool.hasData}}
        Show Result &nbsp;<i class="fa fa-arrow-circle-o-right fa-lg"></i>
      {{else}}
        {{tool.label}}
      {{/if}}
      {{#if tool.isLoading}}
        Select
        <!-- <div class="loader">Loading...</div> -->
      {{/if}}
      {{#if tool.hasError}}
        Show Error &nbsp;<i class="fa fa-arrow-circle-o-right fa-lg"></i>
      {{/if}}
    </div>

    <div class="c-file__name" style="text-align: center;">

      {{#if (gte choices.length 1)}}
        <strong>{{tool.label}}
          <br>against</strong>

        {{#if showStart}}
          <div class="faux-select">
            {{digital-object-select content=choices action=(action (mut fileToCompareWith))}}
          </div>

          <button type="button" {{action "startClicked"}}>Start</button>
        {{else}}
          <br>
          <p style="height: 50px">
            {{fileToCompareWith}}
          </p>
        {{/if}}
      {{else}}
        <p style="height: 50px">
          Please add a second file in the "Files" step.
        </p>
      {{/if}}

    </div>

  </div>
  <div class="c-file__actions">
    <div {{action "remove" tool}} class="c-file__action" style="float: left;">
      {{#unless static}}
        <i class="fa fa-remove"></i>
      {{/unless}}
    </div>
  </div>

</div>
