<div class="l-file-large c-file {{if item.isSelected 'is-selected'}} {{if isIFC 'l-file-small'}} {{if isE57 'l-file-small'}}">
	<div {{action "showDetails" item}}>

		{{#if isIFC}}
			<div class="c-file__header t-file ifc">
				3D Model (IFC)
			</div>
		{{else}}
			<div class="c-file__header t-file pointcloud">
				Pointcloud (E57)
			</div>
		{{/if}}

		<div class="c-file__name">
			{{#if isIFC}}
				{{name}}
				<div class="c-file__size">
					<h4>{{size}}</h4>
				</div>
			{{else}}
				{{#if isE57}}
					{{name}}
					<div class="c-file__size">
						<h4>{{size}}</h4>
					</div>
				{{else}}
					<div class="c-file-building">
						<div class="c-file-building__pic"><img src="/images/building_placeholder.png"> </div>
						{{name}}  <br><br>
						{{adress}}
					</div>
				{{/if}}
			{{/if}}
		</div>

	</div>

	<div class="c-file__actions">
		<div {{action "selectItem" item}} class="c-file__action">
			{{#if item.isSelected}}
				<i class="fa fa-close"></i>
			{{else}}
				<i class="fa fa-check"></i>
			{{/if}}
		</div>
	</div>

</div>
