<button class="btn btn-green btn-right" {{action "update" model.file}}> Update</button>   

<h4>&#9737; Digital Representation: {{filename}}</h4>

<div class="metadata-description">Descriptive metadata about the digital object containing a representation of the physical asset, such as a plan or a scan.</div>

<br>

<fieldset class="md-list">
{{#with model.instance as meta}}
	{{multi-line-item label="Name:" value=meta.name readonly=false}}
	{{multi-line-item label="Description:" value=meta.description readonly=false}}
	{{multi-line-item label="Creation Date:" value=meta.dateCreated readonly=false}}
	{{multi-line-item label="Provenance:" value=meta.Provenance readonly=false}}
	{{multi-line-item label="Format:" value=meta.format readonly=false}}
	{{multi-line-item label="License:" value=meta.license readonly=false}}
	{{multi-line-item label="Part Of:" value=meta.isPartOf readonly=false}}
	{{multi-line-item label="Has Part:" value=meta.hasPart readonly=false}}
	{{multi-line-item label="Has Type:" value=meta.hasType readonly=false}}
	{{multi-line-item label="Has Format Details:" value=meta.hasFormatDetails readonly=false}}
	{{multi-line-item label="Unit Code:" value=meta.unitCode readonly=false}}
	{{multi-line-item label="Level Of Detail:" value=meta.levelOfDetail readonly=false}}
	{{multi-line-item label="Identifier:" value=meta.identifier readonly=true}}
{{/with}}
</fieldset>
