<div class="l-duraark-tool c-duraark-tool {{if isFullscreen "fullscreen"}}">

  <i {{action "close"}} class="fa fa-remove fa-2x c-duraark-tool__close-icon"></i>
  <i {{action "fullscreen"}} class="fa fa-arrows-alt fa-lg"></i>

  <h2 style="text-align: center;"><i class="fa {{icon}}"></i>&nbsp; {{title}}</h2>

  <hr>

  {{yield}}

</div>
