<div class="l-duraark-tool c-duraark-tool {{if isFullscreen "fullscreen"}}">

  {{#unless hideClose}}
    <i {{action "close"}} class="fa fa-remove fa-2x c-duraark-tool__close-icon"></i>
  {{/unless}}
  {{#unless hideFullscreen}}
    <i {{action "fullscreen"}} class="fa fa-arrows-alt fa-lg c-duraark-tool__fullscreen-icon"></i>
  {{/unless}}
  <h2 style="text-align: center;"><i class="fa {{icon}}"></i>&nbsp; {{title}}</h2>

  <hr>

  {{yield}}

</div>
