<!--List Container-->
<ul class="dropdown-list-container">

  {{#each scans as |scan|}}
  <li class="dropdown-list dropdown-list-no-round-corners">
    <a dropdown-prop="title">Scanner Run #{{scan.id}}<i class="dropdown-icon"></i></a>
    <div class="dropdown-list-items {{if scan.show 'dropdown-list-open'}} dropdownlist-grid">
      <fieldset>
           {{#each scan.data as |item|}}
            <div class="dropdownlist-grid">
              <label>{{item.key}}:</label>
              {{#each item.values as |value|}}
                {{input readonly=true value=value}}
              {{/each}}
            </div>
          {{/each}}
      </fieldset>
    </div>
  </li>
  {{/each}}

  <!-- <li class="dropdown-list dropdown-list-no-round-corners">
    <a dropdown-prop="title">Technical Details<i class="dropdown-icon"></i></a>
    <div class="dropdown-list-items dropdown-list-open dropdownlist-grid">
      <fieldset>
           {{#each item in overview}}
            <div class="dropdownlist-grid">
              <label>{{item.key}}:</label>
              {{#each value in item.values}}
                {{input readonly=true value=value}}
              {{/each}}
            </div>
          {{/each}}
      </fieldset>
    </div>
  </li> -->

  <!-- <li class="dropdown-list">
    <a dropdown-prop="title">File Details<i class="dropdown-icon"></i></a>
    <div class="dropdown-list-items dropdownlist-grid">
      <fieldset>
        <div class="dropdownlist-grid-small">
          <label>Coming soon!</label>
        </div>
      </fieldset>
    </div>
  </li> -->
</ul>
