<h4>&#9737;  {{filename}}</h4>

<div class="metadata-description">E57-root level metadata describes basic attributes about the entire file, such as the versionnumber of the file format or the number of 3D scans or 2D images contained in the file.</div>

<br>

<fieldset class="md-list">
{{#with model.instance as meta}}
	<div><label>coordinate_metadata:<span>&#10067;</span></label> {{input readonly=true value=meta.coordinate_metadata}}</div>
	<div><label>creation_datetime:<span>&#10067;</span></label> {{input readonly=true value=meta.creation_datetime}}</div>
	<div><label>guid:<span>&#10067;</span></label> {{input readonly=true value=meta.guid}}</div>
	<div><label>image_count:<span>&#10067;</span></label> {{input readonly=true value=meta.image_count}}</div>
	<div><label>image_size:<span>&#10067;</span></label> {{input readonly=true value=meta.image_size}}</div>
	<div><label>image_size:<span>&#10067;</span></label> {{input readonly=true value=meta.image_size}}</div>
	<div><label>scan_count:<span>&#10067;</span></label> {{input readonly=true value=meta.scan_count}}</div>
	<div><label>scan_size:<span>&#10067;</span></label> {{input readonly=true value=meta.scan_size}}</div>
	<div><label>version_major:<span>&#10067;</span></label> {{input readonly=true value=meta.version_major}}</div>
	<div><label>version_minor:<span>&#10067;</span></label> {{input readonly=true value=meta.version_minor}}</div>

	{{#if meta.scans}}
		<h4>Scans</h4>
		{{#each scan in meta.scans}}
			<div><label>acquisition_start:<span>&#10067;</span></label> {{input readonly=true value=scan.acquisition_start}}</div>
			<div><label>acquisition_end:<span>&#10067;</span></label> {{input readonly=true value=scan.acquisition_end}}</div>
			<div><label>description:<span>&#10067;</span></label> {{input readonly=true value=scan.description}}</div>
			<div><label>guid:<span>&#10067;</span></label> {{input readonly=true value=scan.guid}}</div>
			<div><label>name:<span>&#10067;</span></label> {{input readonly=true value=scan.name}}</div>
			<div><label>points_size:<span>&#10067;</span></label> {{input readonly=true value=scan.points_size}}</div>
			<div><label>relative_humidity:<span>&#10067;</span></label> {{input readonly=true value=scan.relative_humidity}}</div>
			<div><label>sensor_firmware_version:<span>&#10067;</span></label> {{input readonly=true value=scan.sensor_firmware_version}}</div>
			<div><label>sensor_hardware_version:<span>&#10067;</span></label> {{input readonly=true value=scan.sensor_hardware_version}}</div>
			<div><label>sensor_model:<span>&#10067;</span></label> {{input readonly=true value=scan.sensor_model}}</div>
			<div><label>sensor_serial_number:<span>&#10067;</span></label> {{input readonly=true value=scan.sensor_serial_number}}</div>
			<div><label>sensor_software_version:<span>&#10067;</span></label> {{input readonly=true value=scan.sensor_software_version}}</div>
			<div><label>sensor_vendor:<span>&#10067;</span></label> {{input readonly=true value=scan.sensor_vendor}}</div>
			<div><label>temperature:<span>&#10067;</span></label> {{input readonly=true value=scan.temperature}}</div>
			<div><label>atmospheric_pressure:<span>&#10067;</span></label> {{input readonly=true value=scan.atmospheric_pressure}}</div>
			<header>cartesian_bounds</header>
			<div><label>x_maximum:<span>&#10067;</span></label> {{input readonly=true value=scan.cartesian_bounds.x_maximum}}</div>
			<div><label>x_minimum:<span>&#10067;</span></label> {{input readonly=true value=scan.cartesian_bounds.x_minimum}}</div>
			<div><label>y_maximum:<span>&#10067;</span></label> {{input readonly=true value=scan.cartesian_bounds.y_maximum}}</div>
			<div><label>y_minimum:<span>&#10067;</span></label> {{input readonly=true value=scan.cartesian_bounds.y_minimum}}</div>
			<div><label>z_maximum:<span>&#10067;</span></label> {{input readonly=true value=scan.cartesian_bounds.z_maximum}}</div>
			<div><label>z_minimum:<span>&#10067;</span></label> {{input readonly=true value=scan.cartesian_bounds.z_minimum}}</div>
			<header>color_limits</header>
			<div><label>color_blue_maximum:<span>&#10067;</span></label> {{input readonly=true value=scan.color_limits.color_blue_maximum}}</div>
			<div><label>color_blue_minimum:<span>&#10067;</span></label> {{input readonly=true value=scan.color_limits.color_blue_minimum}}</div>
			<div><label>color_green_maximum:<span>&#10067;</span></label> {{input readonly=true value=scan.color_limits.color_green_maximum}}</div>
			<div><label>color_green_minimum:<span>&#10067;</span></label> {{input readonly=true value=scan.color_limits.color_green_minimum}}</div>
			<div><label>color_red_maximum:<span>&#10067;</span></label> {{input readonly=true value=scan.color_limits.color_red_maximum}}</div>
			<div><label>color_red_minimum:<span>&#10067;</span></label> {{input readonly=true value=scan.color_limits.color_red_minimum}}</div>
			<header>index_bounds</header>
			<div><label>col_maximum:<span>&#10067;</span></label> {{input readonly=true value=scan.index_bounds.col_maximum}}</div>
			<div><label>col_minimum:<span>&#10067;</span></label> {{input readonly=true value=scan.index_bounds.col_minimum}}</div>
			<div><label>return_maximum:<span>&#10067;</span></label> {{input readonly=true value=scan.index_bounds.return_maximum}}</div>
			<div><label>return_minimum:<span>&#10067;</span></label> {{input readonly=true value=scan.index_bounds.return_minimum}}</div>
			<div><label>row_maximum:<span>&#10067;</span></label> {{input readonly=true value=scan.index_bounds.row_maximum}}</div>
			<div><label>rotw_minimum:<span>&#10067;</span></label> {{input readonly=true value=scan.index_bounds.row_minimum}}</div>
			<header>original_guids</header>
			<header>point_fields</header>
			<div><label>angle_maximum:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.angle_maximum}}</div>
			<div><label>angle_minimum:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.angle_minimum}}</div>
			<div><label>angle_scaled_integer:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.angle_scaled_integer}}</div>
			<div><label>cartesian_invalid_state_field:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.cartesian_invalid_state_field}}</div>
			<div><label>cartesian_x_field:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.cartesian_x_field}}</div>
			<div><label>cartesian_y_field:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.cartesian_y_field}}</div>
			<div><label>cartesian_z_field:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.cartesian_z_field}}</div>
			<div><label>color_blue_field:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.color_blue_field}}</div>
			<div><label>color_green_field:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.color_green_field}}</div>
			<div><label>color_red_field:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.color_red_field}}</div>
			<div><label>column_index_field:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.column_index_field}}</div>
			<div><label>column_index_maximum:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.column_index_maximum}}</div>
			<div><label>intensity_field:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.intensity_field}}</div>
			<div><label>intensity_scaled_integer:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.intensity_scaled_integer}}</div>
			<div><label>is_Time_Stamp_Invalid_field:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.is_Time_Stamp_Invalid_field}}</div>
			<div><label>is_color_invalid_field:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.is_color_invalid_field}}</div>
			<div><label>is_intensity_invalid_field:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.is_intensity_invalid_field}}</div>
			<div><label>point_range_maximum:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.point_range_maximum}}</div>
			<div><label>point_range_minimum:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.point_range_minimum}}</div>
			<div><label>point_range_scaled_integer:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.point_range_scaled_integer}}</div>
			<div><label>return_count_field:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.return_count_field}}</div>
			<div><label>return_index_field:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.return_index_field}}</div>
			<div><label>return_maximum:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.return_maximum}}</div>
			<div><label>row_index_field:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.row_index_field}}</div>
			<div><label>row_index_maximum:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.row_index_maximum}}</div>
			<div><label>spherical_azimuth_field:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.spherical_azimuth_field}}</div>
			<div><label>spherical_elevation_field:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.spherical_elevation_field}}</div>
			<div><label>spherical_invalid_state_field:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.spherical_invalid_state_field}}</div>
			<div><label>spherical_range_field:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.spherical_range_field}}</div>
			<div><label>time_Maximum:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.time_Maximum}}</div>
			<div><label>time_stamp_field:<span>&#10067;</span></label> {{input readonly=true value=scan.point_fields.time_stamp_field}}</div>
			<header>intensity_limits:</header>
			<div><label>intensity_maximum:<span>&#10067;</span></label> {{input readonly=true value=scan.intensity_limits.intensity_maximum}}</div>
			<div><label>intensity_minimum:<span>&#10067;</span></label> {{input readonly=true value=scan.intensity_limits.intensity_minimum}}</div>
			<header>pose</header>
			<div>rotation:</div>
			<div><label>w:<span>&#10067;</span></label> {{input readonly=true value=scan.pose.rotation.w}}</div>
			<div><label>x:<span>&#10067;</span></label> {{input readonly=true value=scan.pose.rotation.x}}</div>
			<div><label>y:<span>&#10067;</span></label> {{input readonly=true value=scan.pose.rotation.y}}</div>
			<div><label>z:<span>&#10067;</span></label> {{input readonly=true value=scan.pose.rotation.z}}</div>
			<div>translation:</div>
			<div><label>x:<span>&#10067;</span></label> {{input readonly=true value=scan.pose.translation.x}}</div>
			<div><label>y:<span>&#10067;</span></label> {{input readonly=true value=scan.pose.translation.y}}</div>
			<div><label>z:<span>&#10067;</span></label> {{input readonly=true value=scan.pose.translation.z}}</div>
			<header>sperical_bounds</header>
			<div><label>azimuth_maximum:<span>&#10067;</span></label> {{input readonly=true value=scan.spherical_bounds.azimuth_maximum}}</div>
			<div><label>azimuth_minimum:<span>&#10067;</span></label> {{input readonly=true value=scan.spherical_bounds.azimuth_minimum}}</div>
			<div><label>elevation_maximum:<span>&#10067;</span></label> {{input readonly=true value=scan.spherical_bounds.elevation_maximum}}</div>
			<div><label>elevation_minimum:<span>&#10067;</span></label> {{input readonly=true value=scan.spherical_bounds.elevation_minimum}}</div>	
			<div><label>range_maximum:<span>&#10067;</span></label> {{input readonly=true value=scan.spherical_bounds.range_maximum}}</div>
			<div><label>range_minimum:<span>&#10067;</span></label> {{input readonly=true value=scan.spherical_bounds.range_minimum}}</div>	
		{{/each}}
	{{/if}}

	{{#if meta.images}}
		<h4>Images</h4>
		{{#each image in meta.images}}
			<div>Image description ...</div>
		{{/each}}
	{{/if}}

{{/with}}
</fieldset>