<div class="l-rise-tool c-rise-tool">
  {{#if wallConfig}}
    <div class="l-rise-tool__floorplan">
      {{duraark-floorplan wallConfig=wallConfig roomClicked="roomClicked"}}
    </div>
  {{else}}
    This tool generates a hypothesis of the in-wall electrical appliance configuration from a pointcloud scan. The generation is currently in progress, be patient.

    <br>
    <br> After the generation is finished the results will be displayed here. The images below show the result of the electrical appliance detection in three groups. For each detected wall the hypothesis of the electrical appliance is shown, together with
    the rule set applied to the algorithm. As third group the detection of electrical sockets, e.g. power switches, is shown.
  {{/if}}

  <!-- <div class="l-image-presenter">
    <div class="l-image-presenter__header"><i style="margin-right: 0.4em;" class="fa fa-image"></i> Hypothesis Results</div>

    <div class="l-image-list">
      {{#each img in tool.hypothesisImages}}
        <div class="l-image">
          <img {{action "clickImage" img}} src="{{img.src}}" alt="Hypothesis Result Image" />
        </div>
      {{/each}}
    </div>
  </div>

  <hr>

  <div class="l-image-presenter">
    <div class="l-image-presenter__header"><i style="margin-right: 0.4em;" class="fa fa-image"></i> Rule Set</div>

    <div class="l-image-list">
      {{#each img in tool.ruleSetImages}}
        <div class="l-image">
          <img {{action "clickImage" img}} src="{{img.src}}" alt="Rule Set Image" />
        </div>
      {{/each}}
    </div>
  </div>

  <hr>

  <div class="l-image-presenter">
    <h2 class="l-image-presenter__header"><i style="margin-right: 0.4em;" class="fa fa-image"></i> Detection Results</h2>

    <div class="l-image-list">
      {{#each img in tool.elecDetectImages}}
        <div class="l-image">
          <img {{action "clickImage" img}} src="{{img.src}}" alt="Detection Result Image" />
        </div>
      {{/each}}
    </div>
  </div> -->

</div>
