{{#if isLoading}}
	<li class="da-file-entry"><div class="da-valid btn btn-green" title="Schema">{{loading-spinner}}</div>Geometric enrichment item</li>
{{else}}
	<li class="da-file-entry" {{action "onClick" item}}>
		<div style="position: relative;">
				<div class="da-valid btn btn-green">VALID</div>{{item.path}}
				<div {{action "onDelete" item}} style="color: white;" class="btn btn-red btn-tiny btn-topright" title="Remove File">x</div>
		</div>
	</li>
{{/if}}