<div class="l-file c-file">
	{{#if isIFC}}
		<div class="c-file__header t-file">
			3D Model (IFC)
		</div>
	{{else}}
		<div class="c-file__header t-file">
			Pointcloud (E57)
		</div>
	{{/if}}

	<div class="c-file__name">
		{{#if filename}}
			{{filename}}
		{{else}}
			<h3>Loading ...{{loading-spinner-center}}</h3>
		{{/if}}
		<div class="c-file__size">
			{{#if item.size}}
				<h4>{{size}}</h4>
			{{/if}}
		</div>
	</div>

	<div class="c-file__actions">
		<div {{action "selectItem" item}} class="c-file__action">
			<i class="fa fa-plus"></i>
		</div>
		<div {{action "showDetails" item}} class="c-file__action">
			<i class="fa fa-eye"></i>
		</div>
	</div>

</div>
