<div class="l-ifc-reconstruction-tool c-ifc-reconstruction-tool">
  {{#if tool.hasError}}
    <h2 class="c-ifc-reconstruction-tool__error-header">
      Reconstruction failed!
    </h2>

    <div style="text-align: center; width: 100%">
      <button {{action "retry"}} class="c-ifc-reconstruction-tool__retry"><i class="fa fa-refresh"></i> Retry</button>
    </div>

    <div class="c-ifc-reconstruction-tool__error">
      <h2>Error</h2>
      <br>
      {{tool.errorText}}
    </div>

  {{else}}

    {{#unless tool.isLoading}}
      <button {{action "download"}} class="c-ifc-reconstruction-tool__download">Download</button>
      <div class="c-ifc-reconstruction-tool__viewer">
        {{duraark-ifc-viewer}}
      </div>
  {{else}}
    The reconstruction process generates a BIM model based on the point cloud information. The generated model is stored as IFC file within the archive.

    <br>
    <br> Currently the reconstruction is in progress, the IFC model will be available in a few minutes or hours, depending on the file size of the point cloud scan.
    {{/unless}}
  {{/if}}
</div>
