<ol class="fe-list" {{action "requestMetadata" instance}}>

	{{#if instance}}
	{{log instance.model.metadata}}
		Showing metadata for "{{instance.schema}}"
		{{!-- Content: {{instance.content}} --}}
		{{!-- Baseinstance: {{instance.path}} --}}
	{{else}}
		<h3>Select instance ...</h3>
	{{/if}}

<ul>
	{{#each instance.metadata}}
		<li>{{this}} asdf</li>
	{{/each}}
</ul>

</ol>