<ol class="fe-list" {{action "requestMetadata" file}}>

	{{#if file}}
		Showing metadata for "{{file.path}}"
		{{!-- Content: {{file.content}} --}}
		{{!-- Basefile: {{file.path}} --}}
	{{else}}
		<h3>Select file ...</h3>
	{{/if}}

<ul>
	{{#each file.metadata}}
		<li>{{this}} asdf</li>
	{{/each}}
</ul>

</ol>