<!--List Container-->
<ul class="dropdown-list-container">

  <!--Second List-->
  <li class="dropdown-list">
    <!--List Title-->
    <a dropdown-prop="title" {{action "next"}}>Building Metadata</a>
    <!--List Items-->
    <div class="dropdown-list-items dropdown-list-open">
      <fieldset>

      {{#each item in formDescription}}

        <label>{{item.label}}:</label>

        {{#each value in item.values}}
          {{input readonly=false value=value.value}}
        {{/each}}

        {{#if item.multiples}}
          {{input readonly=false placeholderBinding="item.addLabel" value=item.newValue}}
          <button type="button" {{action "addItem" item}}>+</button>
        {{/if}}

      {{/each}}
      </fieldset>
    </div>
  </li>

</ul>
