{{#if isBuildm}}
	{{#if isLoading}}
		<li class="da-file-entry"><div class="da-valid btn btn-blue" title="Schema">{{loading-spinner}}</div>Descriptive metadata</li>
	{{else}}

		{{buildm-editor instance=item}}
	{{/if}}
{{/if}}

{{#if isIfcm}}	
	{{#if isLoading}}
		<li class="da-file-entry"><div class="da-valid btn btn-alt" title="Schema">{{loading-spinner}}</div>Technical metadata</li>
	{{else}}

		{{ifcm-editor instance=item}}
	{{/if}}
{{/if}}

{{#if isE57m}}
	{{#if isLoading}}
		<li class="da-file-entry"><div class="da-valid btn btn-green" title="Schema">{{loading-spinner}}</div>Technical metadata</li>
	{{else}}
		{{e57m-editor instance=item}}
	{{/if}}
{{/if}}