{{!-- <h4>{{filename}} (schema: {{model.schema}})</h4> --}}

<h4>&#9737; Physical Asset</h4>

<div class="metadata-description">Descriptive metadata about the tangible building.</div>

<br>

<fieldset class="md-list">
{{#with model.instance as meta}}
	<div><label>Identifier:<span>&#10067;</span></label> {{input readonly=true value=meta.Identifier}}</div>
	<div><label>Latitude:<span>&#10067;</span></label> {{input value=meta.latitude}}</div>
	<div><label>Longitude:<span>&#10067;</span></label> {{input value=meta.longitude}}</div>
	<div><label>Owner:<span>&#10067;</span></label> {{input value=meta.owner}}</div>
	<div><label>Building area:<span>&#10067;</span></label> {{input value=meta.buildingArea}}</div>
	<div><label>Floor count:<span>&#10067;</span></label> {{input value=meta.floorCount}}</div>
	<div><label>Number of rooms:<span>&#10067;</span></label> {{input value=meta.numberOfRooms}}</div>
	<div><label>Function:<span>&#10067;</span></label> {{input value=meta.function}}</div>
	<div><label>Architectural style:<span>&#10067;</span></label> {{input value=meta.architecturalStyle}}</div>
	<div><label>Description:<span>&#10067;</span></label> {{input value=meta.description}}</div>
	<div><label>Location:<span>&#10067;</span></label> {{input value=meta.location}}</div>
	<div><label>Street address:<span>&#10067;</span></label> {{input value=meta.streetAddress}}</div>
	<div><label>Postal code (start):<span>&#10067;</span></label> {{input value=meta.postalCodeStart}}</div>
	<div><label>Postal code (end):<span>&#10067;</span></label> {{input value=meta.postalCodeEnd}}</div>
	<div><label>Postoffice box number:<span>&#10067;</span></label> {{input value=meta.postOfficeBoxNumber}}</div>
	<div><label>Address region:<span>&#10067;</span></label> {{input value=meta.addressRegion}}</div>
	<div><label>Postal locality:<span>&#10067;</span></label> {{input value=meta.postalLocality}}</div>
	<div><label>Architect:<span>&#10067;</span></label> {{input value=meta.architect}}</div>
	<div><label>Contributor:<span>&#10067;</span></label> {{input value=meta.contributor}}</div>
	<div><label>Building start date:<span>&#10067;</span></label> {{input value=meta.startDate}}</div>
	<div><label>Building completion date:<span>&#10067;</span></label> {{input value=meta.completionDate}}</div>
	<div><label>Construction time:<span>&#10067;</span></label> {{input value=meta.constructionTime}}</div>
	<div><label>Rebuilding date:<span>&#10067;</span></label> {{input value=meta.rebuildingDate}}</div>
	<div><label>Modification details:<span>&#10067;</span></label> {{input value=meta.modificationDetails}}</div>
	<div><label>Cost ($):<span>&#10067;</span></label> {{input value=meta.cost}}</div>
	<div><label>Rights details:<span>&#10067;</span></label> {{input value=meta.rightsDetails}}</div>
{{/with}}
</fieldset>



