{{#if isLoading}}
	<div class="btn btn-green btn-right"> {{loading-spinner}}</div>
{{else}}
	<button class="btn btn-green btn-right" {{action "update" model.file}}> Update</button>
{{/if}}

<h4>&#9737; Building Description</h4>

<div class="metadata-description">Descriptive metadata about the tangible building.</div>

<br>

<fieldset class="md-list">
{{#with model.instance as meta}}
	{{multi-line-item label="Owner:" value=meta.owner readonly=false}}
	{{multi-line-item label="Description:" value=meta.description readonly=false}}
	{{multi-line-item label="Architect:" value=meta.architect readonly=false}}
	{{multi-line-item label="Street address:" value=meta.streetAddress readonly=false}}
	{{multi-line-item label="Rights details:" value=meta.rightsDetails readonly=false}}
	{{multi-line-item label="Building area:" value=meta.buildingArea readonly=false}}
	{{multi-line-item label="Floor count:" value=meta.floorCount readonly=false}}
	{{multi-line-item label="Number of rooms:" value=meta.numberOfRooms readonly=false}}
	{{multi-line-item label="Function:" value=meta.function readonly=false}}
	{{multi-line-item label="Architectural style:" value=meta.architecturalStyle readonly=false}}
	{{multi-line-item label="Latitude:" value=meta.latitude readonly=false}}
	{{multi-line-item label="Longitude:" value=meta.longitude readonly=false}}
	{{multi-line-item label="Location:" value=meta.location readonly=false}}
	{{multi-line-item label="Street address:" value=meta.streetAddress readonly=false}}
	{{multi-line-item label="Postal code (start):" value=meta.postalCodeStart readonly=false}}
	{{multi-line-item label="Postal code (end):" value=meta.postalCodeEnd readonly=false}}
	{{multi-line-item label="Postoffice box number:" value=meta.postOfficeBoxNumber readonly=false}}
	{{multi-line-item label="Address region:" value=meta.addressRegion readonly=false}}
	{{multi-line-item label="Postal locality:" value=meta.postalLocality readonly=false}}
	{{multi-line-item label="Architect:" value=meta.architect readonly=false}}
	{{multi-line-item label="Contributor:" value=meta.contributor readonly=false}}
	{{multi-line-item label="Building start date:" value=meta.startDate readonly=false}}
	{{multi-line-item label="Building completion date:" value=meta.completionDate readonly=false}}
	{{multi-line-item label="Construction time:" value=meta.constructionTime readonly=false}}
	{{multi-line-item label="Rebuilding date:" value=meta.rebuildingDate readonly=false}}
	{{multi-line-item label="Modification details:" value=meta.modificationDate readonly=false}}
	{{multi-line-item label="Cost ($):" value=meta.cost readonly=false}}
	{{multi-line-item label="Rights details::" value=meta.rightsDetails readonly=false}}
	{{multi-line-item label="Identifier:" value=meta.identifier readonly=true}}
{{/with}}
</fieldset>



