<div class="l-cards c-cards">

  {{#if result.candidates.results.bindings}}
    <div class="l-duraark-tool__pane-two">
      {{#if selectedCandidate}}
        <div class="c-rise-tool__header">
          <button class="c-rise-tool__back" {{action "unselectCandidate"}}><i class="fa fa-arrow-left"></i>&nbsp; Back</button>
        </div>
        <hr>

        {{#duraark-sidebar}}
          <iframe src= {{selectedCandidate}} width="100%" height="100%"></iframe>
        {{/duraark-sidebar}}
      {{else}}
        <h1>Select a result link ...</h1>
      {{/if}}
    </div>

    <div class="l-duraark-tool__pane-one">
      {{#duraark-sidebar}}
        <table class="c-candidate-list">
          <thead>
            <tr>
              <th>
                <!-- Show button -->
              </th>
              {{#each result.candidates.head.vars as |col|}}
                <th>{{col}}</th>
              {{/each}}
            </tr>
          </thead>
          <tbody>
            {{#each result.candidates.results.bindings as |row|}}
              <tr>
                <td style="text-align: center;">
                  <button {{action "selectCandidate" row}}>Show</button>
                </td>
                {{#each result.candidates.head.vars as |propName|}}
                  <td {{action "selectCandidate" row}}>{{get-prop row propName}}</td>
                {{/each}}
              </tr>
            {{/each}}
          </tbody>
        </table>
        {{/duraark-sidebar}}
    </div>
  {{else}}
    {{#help-box}}
      <div class="c-help-box__hint">
        Information on topic "{{topic.label}}" is gathered in the background, please be patient and come back later.
      </div>
    {{/help-box}}
  {{/if}}

</div>
