<div class="l-cards c-cards">

  {{#if result.candidates.results.bindings}}

    <table class="c-candidate-list">
      <thead>
        <tr>
          {{#each col in result.candidates.head.vars}}
            <th>{{col}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each row in result.candidates.results.bindings}}
          <tr>
            {{#each propName in result.candidates.head.vars}}
              <td>
                <a href={{get-prop row propName}} target="_blank">
                  {{get-prop-stripped row propName}}
                </a>
              </td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>

  {{else}}
    {{#help-box}}
      <div class="c-help-box__hint">
        Information on topic "{{topic.label}}" is gathered in the background, please be patient and come back later.
      </div>
    {{/help-box}}
  {{/if}}

  <!-- {{#if topic.candidates.length}}
    {{#each candidate in topic.candidates}}
      <div class="l-card c-card">
        <div class="c-card-image">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
        </div>
        <div class="c-card-bg">
          <div class="c-card-header">
            <a href={{candidate.entity}} target="_blank">{{strip-namespace candidate.entity}}</a>
          </div>
          <div class="c-card-copy">
            <p>Score: {{candidate.score}}</p>
          </div>
        </div>
      </div>
    {{/each}}

  {{else}}
    <h2 class="title" style="color: white;">Information on that topic is gathered in the background, please be patient and come back later.</h2>
  {{/if}} -->

</div>
