<div class="l-cards c-cards">

  {{#if results.results.bindings}}
    <div class="l-duraark-tool__pane-two">
      {{#if selectedCandidate}}
        <div class="c-rise-tool__header">
          <button class="c-rise-tool__back" {{action "unselectCandidate"}}><i class="fa fa-arrow-left"></i>&nbsp; Back</button>
        </div>
        <hr>

        {{#duraark-sidebar}}
          <iframe src= {{selectedCandidate}} width="100%" height="100%"></iframe>
        {{/duraark-sidebar}}
      {{else}}
        <h1>Select a result link ...</h1>
      {{/if}}
    </div>

    <div class="l-duraark-tool__pane-one">
      {{#duraark-sidebar}}
        <table class="c-candidate-list">
          <thead>
            <tr>
              {{#if showShowButton}}
                <th style="width: 10%;">
                  <!-- Show button -->
                </th>
              {{/if}}
              {{#each results.head.vars as |col|}}
                <th>{{col}}</th>
              {{/each}}
            </tr>
          </thead>
          <tbody>
            {{#each results.results.bindings as |row|}}
              <tr>
                {{#if showShowButton}}
                  <td style="text-align: center; width: 10%;">
                    <button {{action "selectCandidate" row}}>Show</button>
                  </td>
                {{/if}}
                {{#each results.head.vars as |propName|}}
                  <td {{action "selectCandidate" row}}>{{strip-namespace (get-prop row propName)}}</td>
                {{/each}}
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/duraark-sidebar}}
    </div>
  {{else}}
    {{#help-box}}
      <div class="c-help-box__hint">
        No results for this query!
      </div>
    {{/help-box}}
  {{/if}}

</div>
