{{!-- <label>{{input type="checkbox" checked=isSelected}} {{item.path}}</label> --}}

<li {{action "selectItem" item}}>                
	<a>
	<div class="header">&#9737; {{item.datasetName}}</div>
	<div class="meta">URI: {{item.resourceUri}} / {{item.propertyUri}}</div>
	</a>
</li>  
