{{!-- <label>{{input type="checkbox" checked=isSelected}} {{item.path}}</label> --}}

{{log item}}
<h1>{{item}}</h1>
<h1>{{item.datasetName}}</h1>
<li {{action "selectItem" item}}>                
	<a>
	<div class="header">&#9737; {{item.datasetName}}</div>
	<div class="meta">URI: {{item.resourceUri}} / {{item.propertyUri}}</div>
	</a>
</li>  
