<section class="post-controls">
    <a class="btn btn-default post-edit" {{action "edit" stage}}> Edit</a>
</section>

<br><br>

<h3>Available: {{stage.availableItems.length}}</h3>
<h3>Selected: {{stage.selectedItems.length}}</h3>

{{#if stage.isLoading}}
	{{loading-spinner-center}}
{{/if}}

{{#if stage.selectedItems.length}}

<ul>
	{{#each item in stage.selectedItems}}
	{{log item}}
		{{#if item}}
			{{semenrichment-item item=item isLoading=stage.isLoading}}
		{{/if}}
	{{/each}}
</ul>

{{else}}

<div>Requesting metadata ...</div>

{{/if}}