<br>
<center><div class="da-valid btn btn-blue" {{action "editStage" stage}}>Edit</div></center>

{{!-- <section class="post-controls">
    <a class="btn btn-default post-edit" {{action "edit" stage}}> Edit</a>
</section>

<br><br> --}}
{{!-- 
{{#if stage.isLoading}}
	{{loading-spinner-center}}
{{else}}
	<div style="font-size: 20px;">Enrichments found: {{stage.availableItems.length}}</div>
	<div style="font-size: 20px;">Enrichments selected: {{stage.selectedItems.length}}</div>
{{/if}} --}}

{{!-- {{#if stage.selectedItems.length}}

<ul>
	{{#each item in stage.selectedItems}}
	{{log item}}
		{{#if item}}
			{{semenrichment-item item=item isLoading=stage.isLoading}}
		{{/if}}
	{{/each}}
</ul>

{{else}}

<div>Requesting metadata ...</div>

{{/if}} --}}