<div class="l-cards c-cards">

  {{#if topic.crawlId}}
    <!-- NOTE: A crawlId means that the topic has already been crawled -->
    <div class="l-duraark-tool__pane-two">
      {{#if selectedCandidate}}
        <div class="c-rise-tool__header">
          <button class="c-rise-tool__back" {{action "unselectCandidate"}}><i class="fa fa-arrow-left"></i>&nbsp; Back</button>
          <button class="c-rise-tool__edit" {{action "removeCandidate" selectedCandidate}}><i class="fa fa-pencil"></i>&nbsp; Remove</button>
          <header class="c-rise-tool__label">Selected: <strong>{{selectedCandidate.entity}}</strong></header>
        </div>
        <hr>

        <h1>IFRAME WITH CANDIDATE LINK</h1>
      {{else}}
        <h1>Select a candidate to show its content ...</h1>
      {{/if}}
    </div>

    <div class="l-duraark-tool__pane-one">
      {{#if topic.candidateSelection.length}}
        <table class="c-candidate-list">
          <thead>
            <tr>
              <th>
                <!-- Show button -->
              </th>
              <th>Information Link</th>
              <th>Score</th>
              <th>
                <!-- Remove button -->
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each topic.candidateSelection as |candidate|}}
              {{#if candidate.score}}
                <tr>
                  <td>
                    <button {{action "selectCandidate" candidate}}>Show</button>
                  </td>
                  <!-- <td><a href={{candidate.entity}} target="_blank">{{strip-namespace candidate.entity}}</a></td> -->
                  <td {{action "selectCandidate" candidate}}>
                    <span>{{strip-namespace candidate.entity}}</span>
                  </td>
                  <td>
                    <p>Score: {{candidate.score}}</p>
                  </td>
                  <td>
                    <button {{action "removeCandidate" candidate}}>Remove</button>
                  </td>
                </tr>
              {{/if}}
            {{/each}}
          </tbody>
        </table>
      {{else}}
        <!-- if topic.candidateSelection.length -->
        {{#help-box}}
          <div class="c-help-box__hint">
            You removed all topic candidates.
            <button {{action "reloadCandidates"}}>Reload Candidates</button>
          </div>
        {{/help-box}}
      {{/if}}
      <!-- if topic.candidateSelection.length -->
    </div>

  {{else}}
    <!-- if topic.crawlId -->
    {{#help-box}}
      <div class="c-help-box__hint">
        Information on topic "{{topic.label}}" is gathered in the background, please be patient and come back later. {{loading-spinner-fullscreen}}
      </div>
    {{/help-box}}
  {{/if}}
  <!-- if topic.crawlId -->
</div>
