//         <script>
//   $(document).ready(function () {
//   $('.accordion-tabs').each(function(index) {
//     $(this).children('li').first().children('a').addClass('is-active').next().addClass('is-open').show();
//   });
//   $('.accordion-tabs').on('click', 'li > a.tab-link', function(event) {
//     if (!$(this).hasClass('is-active')) {
//       event.preventDefault();
//       var accordionTabs = $(this).closest('.accordion-tabs');
//       accordionTabs.find('.is-open').removeClass('is-open').hide();

//       $(this).next().toggleClass('is-open').toggle();
//       accordionTabs.find('.is-active').removeClass('is-active');
//       $(this).addClass('is-active');
//     } else {
//       event.preventDefault();
//     }
//   });
// });
// </script>

<div class="l-sitenav c-sitenav">
  <div class="c-collapsible-toggle c-collapsible-toggle--nav jsToggle" data-toggle="nav"></div>

  <!-- expanded sitenav -->
  <div class="c-expanded-sitenav">
	 <div class="c-expanded-sitenav__header">
	  <div class="c-logo">
		<!-- <img src="/DURAARK_logo.jpg" alt="DURAARK logo" /> -->
		<h3>DURAARK
		  <br>ARCHIVAL
		  <br>WORKFLOW</h3>
	  </div>
	</div>

	<div class="c-expanded-sitenav__content">
	  <nav class="c-expanded-sitenav__menu">
		<h5 class="c-expanded-sitenav__title">Add 3D Files</h5>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	  </nav>

	  <nav class="c-expanded-sitenav__menu">
		<h5 class="c-expanded-sitenav__title">Edit Metadata Files</h5>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	  </nav>

	  <nav class="c-expanded-sitenav__menu">
		<h5 class="c-expanded-sitenav__title">ADD TOPICs</h5>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	  </nav>

	  <nav class="c-expanded-sitenav__menu">
		<h5 class="c-expanded-sitenav__title">Add Geometric Enrichments</h5>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	  </nav>
	</div>

	<div class="c-expanded-sitenav__footer">
	  <div class="c-logo c-logo--small">
		<!-- <svg class="svg-logo_glitch" height="30px" version="1.1" viewBox="0 0 30 30" width="30px" x="0px" y="0px">
		  <path clip-rule="evenodd" d="M21,9h-2v6h2V9z M5.568,3L4,7v17h5v3h3.886L16,24h5l6-6V3H5.568z M25,16l-4,4h-6l-3,3v-3H8V5h17V16z M16,9h-2v6h2V9z" fill-rule="evenodd"></path>
		</svg> -->
	  </div>

	  <nav class="c-expanded-sitenav__footer-menu">
		<a href="#">About</a>
		<a href="#">Blog</a>
		<a href="#">Developers</a>
		<br>
		<a href="#">Partners</a>
		<a href="#">Funding</a>
		<a href="#">Project</a>
	  </nav>
	</div>

  </div>
  <!-- end expanded sitenav -->
</div>

<div class="l-content-header c-content-header c-content-semenrich">
{{!--   <div class="c-content-header__home">
	<h1>Home</h1>
  </div>
 --}}
 <!-- <div class="c-content-header__header">
	<h3>Session</h3>
 </div> -->

  <div class="c-content-header__title">
	 <h1><i class="fa fa-home"></i> Haus 30</h1>
  </div>

	{{#link-to "workflows.archiveexpert" class="c-content-header__actions"}}
	  <div class="c-action-header">
		<div class="c-action-header__name">
		  <h3>Archive</h3>
		</div>
	  </div>
	{{/link-to}}
</div>

<div class="l-content c-content has-follow-collapsed">

{{wui-stages}}

<!-- Start filelist item -->
  <div class="c-file-list">
	<div class="c-file-list__category">
	  <h3>Files: 2 | Size: 1.3 GB</h3>
	</div>
	<div class="c-file-list__listing">

	  <div class="c-file">
		<div class="c-file__header t-file-files">
		  3D Model (IFC)
		</div>
		<div class="c-file__name">
		  <h3>Haus30-Scan-2014-05-24.ifc</h3>
		  <div class="c-file__size">
			<h4>382 MB</h4>
		  </div>
		</div>
		<div class="c-file__actions">
		  <div {{action "removeFile"}} class="c-file__action">
			  <i class="fa fa-times"></i>
			</div>
			<div {{action "detailsFile"}} class="c-file__action">
			  <i class="fa fa-eye"></i>
			</div>
		</div>
	  </div>

		<div class="c-file">
		  <div class="c-file__header t-file-files">
			Pointcloud (E57)
		  </div>
		  <div class="c-file__name">
			<h3>Haus30-Scan-2014-05-24.e57</h3>
			<div class="c-file__size">
			  <h4>742 MB</h4>
			</div>
		  </div>
		  <div class="c-file__actions">
		  <div {{action "removeFile"}} class="c-file__action">
			  <i class="fa fa-times"></i>
			</div>
			<div {{action "detailsFile"}} class="c-file__action">
			  <i class="fa fa-eye"></i>
			</div>
		  </div>
		</div>

	  </div>
	</div>
	<!-- End filelist item -->


	<!-- Begin ADD component -->
	<div class="c-button-list">
	  <div class="c-button-list__category">
		<h3>Add files</h3>
	  </div>

	  <div class="c-button-list__content">

		{{#link-to "workflows.files" class="c-button"}}
		<div class="c-button__frame t-button-files">
			<div class="c-button__name">
				<h3>Local file</h3>
			</div>
		</div>
		{{/link-to}}

	  {{#link-to "workflows.semanticenrichment" class="c-button"}}
		<div class="c-button__frame t-button-files">
		  <div class="c-button__name">
			<h3>Rosetta Archive</h3>
		  </div>
		</div>
	  {{/link-to}}

	  {{#link-to "workflows.geometricenrichment" class="c-button"}}
		<div class="c-button__frame t-button-files">
		  <div class="c-button__name">
			<h3>Bimsync file</h3>
		  </div>
		</div>
	  {{/link-to}}

	  </div>
	</div>
	<!-- End ADD component -->
</div>

<div class="l-follow c-follow is-collapsed">
</div>

<!-- {{outlet}} -->
