<h1>Submission Information Package</h1>

{{#each session in model.sessions}}
	{{#each pa in session.physicalAssets}}
		<h2>Building: {{pa.descMD.address}}</h2>
		{{#each do in pa.digitalObjects}}
			<h3>{{do.techMD.filename}} ({{do.techMD.type}})</h3>
			{{#each derivative in do.derivatives}}
				{{!-- <h4>{{derivative.type}}</h4> --}}
				<h4>{{derivative.techMD.filename}} ({{derivative.techMD.type}}) - Tool: {{derivative.techMD.creator}} @{{derivative.techMD.copyright}}</h4>
			{{/each}}
		{{/each}}
	{{/each}}
{{/each}}