{{duraark-preingest-steps session=session activeStep="digitalpreservation"}}

<div class="l-page-with-header-and-workflow-steps">

	<div class="c-workflow-page">
		{{workflow-step-header session=session disableNext=true onBack="back" app=app}}

		<div class="l-files">

			<div class="l-file-list">
				{{#duraark-sidebar overflowYAuto=true}}
					<div class="c-digitalpreservation__title">
						<h2 class="c-digitalpreservation__label"><i class="fa fa-database"></i>&nbsp; 4 | Session content</h2>
					</div>

					<hr>

					<div class="c-digitalpreservation__buttons">
						<div class="c-digitalpreservation__button" {{action "createRosettaSIP"}}>
							{{#unless rosettaIsCreating}}Update Online Archive{{else}}Updating ...{{inline-spinner}}{{/unless}}
						</div>
						<div class="c-digitalpreservation__button" {{action "createBagItSIP"}}>
							{{#unless bagIsCreating}}Download Session{{else}}Creating Package ...{{inline-spinner}}{{/unless}}
						</div>
					</div>

					<div class="c-digitalpreservation__summary">
						<header>
							Summary
						</header>
						<section>
							<ul>
								<li>
									<strong>Files:</strong> {{session.digitalObjects.length}}</li>
								<li>
									<strong>Archive size:</strong> {{format-number archiveSize "0 b"}}</li>
							</ul>
						</section>
					</div>

					<div class="c-digitalpreservation__details">
						<header>
							File listing
						</header>
						<section>
							{{#each session.digitalObjects as |digObj|}}
								<li>
									<strong>{{digObj.label}}</strong> ({{format-number digObj.size "0 b"}})</li>
							{{/each}}
						</section>
					</div>

				{{/duraark-sidebar}}
			</div>

			{{#if model}}
				<div class="l-file-details">
					{{#duraark-sidebar overflowYAuto=true}}

						{{#if app.showLoadingSpinner}}
							{{loading-spinner-center}}
						{{else}}

							{{#if fileInfo}}
								{{#if isIFC}}
									{{buildm-editor buildm=fileInfo.buildm type="digitalObject" save="updateMetadata"}}
								{{/if}}

								{{#if isE57}}
									{{buildm-editor buildm=fileInfo.buildm type="digitalObject" save="updateMetadata"}}
								{{/if}}

								{{#if isPhysicalAsset}}
									{{buildm-editor buildm=fileInfo.buildm type="physicalAsset" save="updateMetadata"}}
								{{/if}}

							{{else}}
								{{#help-box}}
									<div class="c-help-box__hint" style="text-align: center;">
										<!-- This page gives an overview of the data that will go into the archive. The data will be packaged into a Rosetta SIP to be deposit to the Rosetta DPS or you can download it as a BagIt SIP for local storage. -->
										This page allows you to update the data in the archive and also to download the data.

									</div>
								{{/help-box}}
							{{/if}}

						{{/if}}
					{{/duraark-sidebar}}

				</div>
			{{/if}}
		</div>
	</div>
</div>
