{{duraark-preingest-steps session=session activeStep="digitalpreservation"}}

<div class="l-page-with-header-and-workflow-steps">

	<div class="c-workflow-page">
		{{workflow-step-header session=session disableNext=true onBack="back" app=app}}

		<div class="l-files">

			<div class="l-file-list">
				<!-- <h2 style="margin-top: 1em;"><i class="fa fa-database"></i>&nbsp; 5 | Check archive content: -->
				<h2 style="margin-top: 1em;"><i class="fa fa-database"></i>&nbsp; 5 | Digital Preservation:
					<div style="float: right;">
						<!-- <button {{action "createBagItSIP"}}>
							{{#unless bagIsCreating}}Download BagIt{{else}}Creating BagIt ...{{/unless}}
						</button>
						<button style="margin-left: 1.5em;" {{action "createRosettaSIP"}}>
							{{#unless rosettaIsCreating}}Update Archive{{else}}Archiving ...{{/unless}}
						</button> -->
						<!-- <div style="font-size: 0.7em; float: right; margin-left: 1em; margin-right: 1em; padding: 0.5em; margin-bottom: 1.5em; background: #E6892B" {{action "createBagItSIP"}}>
							{{#unless bagIsCreating}}Download Data{{else}}Creating Package ...{{/unless}}
						</div>
						<div style="font-size: 0.7em; margin-left: 1em; float: right; padding: 0.5em; margin-left: 1.5em; background: #E6892B" {{action "createRosettaSIP"}}>
							{{#unless rosettaIsCreating}}Update Archive{{else}}Archiving ...{{/unless}}
						</div> -->
					</div>
				</h2>

				<hr>

				<div style="margin-left: auto; margin-right: auto; width: 20em; text-align: center; padding: 0.5em; margin-top: 3em; background: #E6892B" {{action "createBagItSIP"}}>
					{{#unless bagIsCreating}}Download Data{{else}}Creating Package ...{{inline-spinner}}{{/unless}}
				</div>
				<div style="margin-left: auto; margin-right: auto; width: 20em; text-align: center; padding: 0.5em; margin-top: 3em;background: #E6892B" {{action "createRosettaSIP"}}>
					{{#unless rosettaIsCreating}}Update Archive{{else}}Archiving ...{{inline-spinner}}{{/unless}}
				</div>

				<!-- {{#file-list files=session.physicalAssets as |pa|}}
					{{physical-asset-item item=pa details="showDetails" static=true}}
				{{/file-list}}

				<hr>

				{{#file-list files=session.digitalObjects as |do|}}
					<div>
						{{physical-asset-item item=do details="showDetails" static=true}}

						{{#each do.semMD.topics as |topic|}}
							{{topic-item topic=topic digitalObject=do select="showSelectedTopic" remove="removeTopic" static=true}}
						{{/each}}

						{{#each do.geoTools as |tool|}}
							{{tool-item tool=tool digitalObject=do select="showSelectedTool" remove="removeTool" infoClicked="showToolInfo" static=true}}
						{{/each}}
					</div>
				{{/file-list}} -->

			</div>

			{{#if model}}
				<div class="l-file-details">
					{{#duraark-sidebar overflowYAuto=true}}

						{{#if app.showLoadingSpinner}}
							{{loading-spinner-center}}
						{{else}}

							{{#if fileInfo}}
								{{#if isIFC}}
									{{buildm-editor buildm=fileInfo.buildm type="digitalObject" save="updateMetadata"}}
								{{/if}}

								{{#if isE57}}
									{{buildm-editor buildm=fileInfo.buildm type="digitalObject" save="updateMetadata"}}
								{{/if}}

								{{#if isPhysicalAsset}}
									{{buildm-editor buildm=fileInfo.buildm type="physicalAsset" save="updateMetadata"}}
								{{/if}}

							{{else}}
								{{#help-box}}
									<div class="c-help-box__hint" style="text-align: center;">
										<!-- This page gives an overview of the data that will go into the archive. The data will be packaged into a Rosetta SIP to be deposit to the Rosetta DPS or you can download it as a BagIt SIP for local storage. -->
										This page allows you to update the data in the archive and also to download the data.

									</div>
								{{/help-box}}
							{{/if}}

						{{/if}}
					{{/duraark-sidebar}}

				</div>
			{{/if}}
		</div>
	</div>
</div>
