{{duraark-preingest-steps session=session activeStep="file"}}

<div class="l-page-with-header-and-workflow-steps">

	<div class="c-workflow-page">
		{{workflow-step-header session=session onNext="next" disableBack=true app=app}}

		<div class="l-files">

			<div class="l-file-list">
				<h2 style="margin: 1em;"><i class="fa fa-folder-o"></i>&nbsp; 1 | Master Files:</h2>
				<hr>

				{{#if files.length}}
					{{#duraark-sidebar overflowYAuto=true}}
						{{#file-list files=files as |file|}}
							{{file-item item=file select="toggleSelection" details="showDetails"}}
						{{/file-list}}
					{{/duraark-sidebar}}
				{{else}}
					<h1>No files added yet.</h1>
				{{/if}}
			</div>

			<div class="l-file-details">
				{{#duraark-sidebar overflowYAuto=true}}

					{{#if app.showLoadingSpinner}}
						{{loading-spinner-center}}
					{{else}}

						{{#unless fileInfo}}
							<!-- {{#duraark-tool title="Upload Master Files" hideClose="true" hideFullscreen="true" }}
								<div class="c-file-upload">
									{{x-droplet onFilesUploaded="addFiles"}}
								</div>
							{{/duraark-tool}} -->
					{{else}}

						{{#if errors}}
							<h1>Errors</h1>
							{{#each error in errors}}
								<div>Type: {{error.type}}</div>
								<div>Message: {{error.msg}}</div>
							{{/each}}
						{{else}}

							{{#duraark-tool title="File Details" close="closeToolUI" fullscreen="maximizeToolUI" }}
								<div class="l-file-details-titel">
									<h3 class="title">{{fileInfoShortName}}</h3>
								</div>
								{{#duraark-sidebar}}
									{{#if isE57}}
										{{duraark-pointcloud-viewer file=fileInfo}}
									{{/if}}
									{{#if isIFC}}
										{{duraark-ifc-viewer}}
									{{/if}}
								{{/duraark-sidebar}}
							{{/duraark-tool}}

						{{/if}}

						{{/unless}}
					{{/if}}
				{{/duraark-sidebar}}
			</div>
		</div>

	</div>
</div>
