{{duraark-preingest-steps session=session activeStep="file"}}

<div class="l-page-with-header-and-workflow-steps">

	<div class="c-workflow-page">
		{{#workflow-step-header onNext="next" disableBack=true}}
			<!-- <header><i class="fa fa-folder-o"></i>&nbsp; 1 | FILES</header> -->
			<header><i class="fa fa-dot-circle-o"></i>&nbsp; Building: {{session.label}}</header>
		{{/workflow-step-header}}

		<div class="l-files">

			<div class="l-file-list">
				<h2 style="margin: 1em;"><i class="fa fa-folder-o"></i>&nbsp; 1 | Master Files:</h2>
				<hr>

				{{#if files.length}}

					{{#duraark-sidebar overflowYAuto=true}}
						{{#file-list files=files as |file|}}
							{{file-item item=file select="toggleSelection" details="showDetails"}}
						{{/file-list}}
					{{/duraark-sidebar}}
				{{else}}
					<h1>No files added yet.</h1>
				{{/if}}
			</div>

			{{#if showSidebar}}
				<div class="l-file-details">
					{{#duraark-sidebar overflowYAuto=true}}

						{{#if app.showLoadingSpinner}}
							{{loading-spinner-center}}
						{{else}}

							{{#unless fileInfo}}
								{{#duraark-tool title="Upload Master Files" hideClose="true" hideFullscreen="true" }}
									<div class="c-file-upload">
										{{x-droplet onFilesUploaded="addFiles"}}
									</div>
								{{/duraark-tool}}
						{{else}}
							<!-- {{#duraark-tool title="File Details" close="closeToolUI" fullscreen="maximizeToolUI" }}
								<div class="l-file-details-titel">
									<h3 class="title">{{fileInfoShortName}}</h3>
								</div>
							{{/duraark-tool}} -->
							{{#if errors}}
								{{#each error in errors}}
									<div>Type: {{error.type}}</div>
									<div>Message: {{error.msg}}</div>
								{{/each}}
							{{else}}
								{{#if fileInfoIsE57}}
									{{#duraark-tool title="File Details" close="closeToolUI" fullscreen="maximizeToolUI" }}
									{{#duraark-sidebar}}
										{{duraark-pointcloud-viewer file=fileInfo}}
									{{/duraark-sidebar}}
								{{/duraark-tool}}
								{{/if}}

								{{#if fileInfoIsIFC}}
									{{#duraark-tool title="File Details" close="closeToolUI" fullscreen="maximizeToolUI" }}
									{{#duraark-sidebar}}
										{{duraark-ifc-viewer}}
									{{/duraark-sidebar}}
								{{/duraark-tool}}
								{{/if}}
							{{/if}}
							{{/unless}}
						{{/if}}
					{{/duraark-sidebar}}
				</div>
			{{/if}}
		</div>

	</div>
</div>
