<div class="l-page-with-header-and-workflow-steps">

	<div class="c-workflow-page">
		{{#workflow-step-header onNext="next"}}
			{{#if selectedFiles.length}}
				<header>Files ({{selectedFiles.length}} selected)</header>
			{{else}}
				<header>Files</header>
			{{/if}}
		{{/workflow-step-header}}

		<div class="l-files">

			<div class="l-file-list">
				{{#file-list files=files as |file|}}
					{{file-item item=file select="toggleSelection" details="showDetails"}}
				{{/file-list}}
			</div>

			{{#if showSidebar}}
				<div class="l-file-details">

					{{#if isLoadingMetadata}}
						<div style="color: white;">LOADING ...</div>
						{{loading-spinner-center}}
					{{else}}

						{{#if fileInfo}}
							<div class="l-file-details-titel">
								<h3 class="title">{{fileInfoShortName}}</h3>
							</div>
							{{#if errors}}
								{{#each error in errors}}
									<div>Type: {{error.type}}</div>
									<div>Message: {{error.msg}}</div>
								{{/each}}
							{{else}}
								{{#if fileInfoIsE57}}
									{{e57m-viewer file=fileInfo}}
								{{/if}}

								{{#if fileInfoIsIFC}}
									{{ifcm-viewer file=fileInfo}}
								{{/if}}
							{{/if}}
						{{else}}
							{{#help-box}}
								<div class="c-help-box__hint">
									Select the files which should be archived in clicking the
									<i class="fa fa-plus-circle" style="margin-left: 0.5em; margin-right: 0.5em;"></i> symbol below the respective file.

									<br>
									<br> Clicking on the file name on the right showns the metadata stored within the file.

									<br>
									<br> Depending on the size of the file the metadata extraction may take some seconds or even minutes. Be patient.

								</div>

							{{/help-box}}

							<div class="c-file-upload">
								{{x-droplet onFilesUploaded="addFiles"}}
							</div>

						{{/if}}

					{{/if}}
				</div>
			{{/if}}
		</div>

	</div>
</div>
