<div class="l-page-with-header-and-workflow-steps">

  <div class="c-workflow-page">
    {{#workflow-step-header onNext="next" onBack="back" }}
      <header><i class="fa fa-building-o"></i>&nbsp; 3 | GEOMETRIC TOOLS</header>
    {{/workflow-step-header}}

    <div class="l-files">
      <div class="l-file-list">

        <h2 style="margin: 1em;"><i class="fa fa-building-o"></i>&nbsp; 3 | Add geometric enrichments:</h2>
        <hr>

        {{#if digitalObjects.length}}
          {{#file-list files=digitalObjects as |do|}}
            <div class="files-wrapper {{if do.isSelected "file-is-selected"}}">
              {{digital-object-sementic item=do select="showToolSelection"}}

              {{#each do.geoMD.tools as |tool| }}
                {{tool-item tool=tool item=do infoClicked="showToolUI" remove="removeTool" }}
              {{/each}}
            </div>

            <hr>
          {{/file-list}}
        {{else}}
          <h3>To use the geometric enrichment tools at least one point cloud file (E57) has to be selected.</h3>
        {{/if}}
      </div>

      {{#if model}}
        <div class="l-file-details">

          {{#if app.showLoadingSpinner}}
						{{loading-spinner-center}}
					{{else}}

            {{#if tool}}
              {{#if isElectricalApplianceDetectionTool}}
                {{#duraark-tool title="Detect Power Lines" close="closeToolUI" fullscreen="maximizeToolUI"}}
                  {{electrical-appliance tool=tool wallConfig=wallConfig}}
                {{/duraark-tool}}
              {{/if}}

              {{#if isIFCReconstructionTool}}
                {{#duraark-tool title="Reconstruct BIM model" close="closeToolUI" fullscreen="maximizeToolUI"}}
                  {{duraark-ifc-viewer}}
                {{/duraark-tool}}
              {{/if}}
            {{else}}
              {{#if selectedDigitalObject}}
                {{tool-selector tools=tools click="clickedTool" icon="fa-building-o" title="Add geometric enrichments to the selected point cloud:"}}
              {{else}}
                {{#help-box}}
                  <div class="c-help-box__hint">
                    For each poin cloud scan you can apply tools which extract geometric information from the scan.
                    <br>
                    <br> Supported are
                    <br>
                    <br>

                    <ul style="margin-left: 1.5em;">
                      <li style="list-style-type: disc;">the reconstruction of a BIM model and</li>
                      <li style="list-style-type: disc;">the detection of electrical applicances in walls</li>
                    </ul>
                    <br> from the point cloud scan.
                    <br>
                    <br> Use the <i class="fa fa-plus" style="margin-left: 0.5em; margin-right: 0.5em;"></i> sign on a point cloud file to add an geometric enrichment processing step. The resulting IFC file(s) will be stored in the archive.

                    <br>
                    <br> The 'Details <i class="fa fa-arrow-circle-o-right"></i>' button allows you to inspect the progress and the results of the respective tool. You can continue the pre-ingest workflow during the tool is working in the background.
                  </div>
                {{/help-box}}
              {{/if}}
            {{/if}}
          {{/if}}

        </div>
      {{/if}}
    </div>

  </div>
</div>
