{{duraark-preingest-steps session=session activeStep="geometricEnrichment"}}

<div class="l-page-with-header-and-workflow-steps">

  {{#if app.showLoadingSpinner}}
    {{loading-spinner-center}}
  {{/if}}

  <div class="c-workflow-page">
    {{workflow-step-header session=session onNext="next" onBack="back" app=app}}

    <div class="l-files">
      <div class="l-file-list">

        <h2 style="margin: 1em;"><i class="fa fa-building-o"></i>&nbsp; Apply Geometric Tools</h2>
        <hr>

        {{#if digitalObjects.length}}
          {{#file-list files=digitalObjects as |do|}}
            <div class="files-wrapper {{if do.isSelected "file-is-selected"}}">
              {{digital-object-sementic item=do select="showToolSelection"}}

              {{#each do.geoTools as |tool| }}
                {{#if (eq tool.label "Difference Detection")}}
                  {{diffdetection-tile tool=tool item=do digitalObjects=digitalObjects infoClicked="showToolUI" remove="removeTool" }}
                {{else if (eq tool.label "Point Cloud Compression")}}
                  {{compression-tile tool=tool item=do infoClicked="showToolUI" remove="removeTool" }}
                {{else}}
                  {{tool-item tool=tool item=do infoClicked="showToolUI" remove="removeTool" }}
                {{/if}}
              {{/each}}
            </div>

            <hr>
          {{/file-list}}
        {{else}}
          <h3>To use the geometric enrichment tools at least one point cloud file (E57) has to be selected.</h3>
        {{/if}}
      </div>

      {{#if model}}
        <div class="l-file-details">

          {{#if app.showLoadingSpinner}}
            {{loading-spinner-center}}
          {{else}}

            {{#duraark-sidebar overflowYAuto=true}}
              {{#if tool}}
                {{#if isElectricalApplianceDetectionTool}}
                  {{#duraark-tool title="Detect Power Lines" close="closeToolUI" fullscreen="maximizeToolUI" }}
                    {{electrical-appliance wallConfig=wallConfig digitalObject=selectedDigitalObject}}
                  {{/duraark-tool}}
                {{/if}}

                {{#if isIFCReconstructionTool}}
                  {{#duraark-tool title="BIM Model" close="closeToolUI" fullscreen="maximizeToolUI" }}
                    {{ifc-reconstruction tool=tool onRetry="scheduleBIMReconstruction"}}
                  {{/duraark-tool}}
                {{/if}}

                {{#if isDifferenceDetectionTool}}
                  {{#duraark-tool title="Difference Detection Viewer" close="closeToolUI" fullscreen="maximizeToolUI" }}
                    {{difference-detection tool=tool}}
                  {{/duraark-tool}}
                {{/if}}
              {{else}}
                {{#if selectedDigitalObject}}
                  {{tool-selector tools=tools click="clickedTool" icon="fa-building-o" digitalObject=selectedDigitalObject numFiles=digitalObjects.length}}
                {{else}}
                  {{#help-box}}
                    <div class="c-help-box__hint">
                      For each point cloud file you can apply the following geometric tools.
                      <br>
                      <br>

                      <ul style="margin-left: 1.5em;">
                        <li style="list-style-type: disc;">Reconstruction of a BIM model from the point cloud file (<em>IFC Reconstruction component</em>)</li>
                        <li style="list-style-type: disc;">Detection of electrical appliances within walls (<em>RISE component</em>)</li>
                        <li style="list-style-type: disc;">Detection of differences between as-built and as-planned scans and models (<em>Difference Detection component</em>)/</li>
                        <li style="list-style-type: disc;">Compression of point cloud files with the addition of normals (<em>Compression component</em>)/</li>
                      </ul>
                      <br>
                      For each BIM model the <em>Difference Detection</em> component can be applied.
                      <br>
                      <br> Use the <i class="fa fa-plus" style="margin-left: 0.5em; margin-right: 0.5em;"></i> sign on a file to apply a tool.
                    </div>
                  {{/help-box}}
                {{/if}}
              {{/if}}
            {{/duraark-sidebar}}
          {{/if}}

        </div>
      {{/if}}
    </div>

  </div>
</div>
