<div class="c-preingest">

  <div class="c-tile-list">
    {{#each model as |session|}}
      {{#unless (eq session.label "Haus 30")}}
        {{session-card session=session editClicked="editSession" deleteClicked="deleteSession"}}
      {{/unless}}
    {{/each}}

  </div>

  {{#toggle-menu}}
    <nav>
      <ul style="color: black;">
        <li><a href="">Add Session</a>
          <hr>
        </li>

        <li>
          <span>Building Name</span>
          <form action="#">
            <div class="mdl-textfield mdl-js-textfield">
              {{input class="mdl-textfield__input" type="text" value=name placeholder="Name ..."}}
            </div>
          </form>

          <span>Building Address</span>
          <form action="#">
            <div class="mdl-textfield mdl-js-textfield">
              {{input class="mdl-textfield__input" type="text" value=address placeholder="Address ..."}}
            </div>
          </form>

          <span>Building Description</span>
          <form action="#">
            <div class="mdl-textfield mdl-js-textfield">
              {{input class="mdl-textfield__input" type="text" value=description placeholder="Description ..."}}
            </div>
          </form>
        </li>

        <li>
          <button {{action "createSession"}} style="width: 100%;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            CREATE
          </button>
        </li>

        <hr>

        <li style="text-align: center;">
          <a href="">or</a>
        </li>

        <li>
          <button {{action "searchInArchive"}} style="width: 100%;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            LOAD FROM ARCHIVE
          </button>
        </li>

        <!-- <li style="text-align: center;">
          OR PROVIDE
        </li>

        <li>
          <form action="#">
            <div class="mdl-textfield mdl-js-textfield">
              {{input class="mdl-textfield__input" type="text" value=sdasReference placeholder="Archive Reference ..."}}
            </div>
          </form>
        </li> -->
      </ul>
    </nav>
  {{/toggle-menu}}

</div>
