{{duraark-preingest-steps session=session activeStep="semanticEnrichment"}}

<div class="l-page-with-header-and-workflow-steps">

	<div class="c-workflow-page">
		{{workflow-step-header session=session onNext="next" onBack="back" app=app}}

		<div class="l-files">

			<div class="l-file-list">

				<h2 style="margin: 1em;"><i class="fa fa-lightbulb-o"></i>&nbsp; 4 | Add context information:</h2>
				<hr>

				{{#file-list files=physicalAssets as |pa|}}
					<div class="files-wrapper {{if pa.isSelected "file-is-selected"}}">
						{{digital-object-sementic item=pa select="showTopicSelection"}}

						{{#each pa.semTopics as |topic|}}
							{{tool-item tool=topic item=pa infoClicked="showEnrichmentCandidates" remove="removeTopic"}}
						{{/each}}
					</div>

					<hr>
				{{/file-list}}

			</div>

			<div class="l-file-details">
				{{#if topic}}
					{{#duraark-sidebar overflowYAuto=true}}
						{{#duraark-tool title="Candidate List" icon="fa-lightbulb-o" close="closeToolUI" fullscreen="maximizeToolUI" }}
							{{topic-viewer topic=topic}}
						{{/duraark-tool}}
					{{/duraark-sidebar}}
				{{else}}
					{{#duraark-sidebar overflowYAuto=true}}
						{{#if selectedPhysicalAsset}}
							{{tool-selector tools=topics click="clickedTopic" icon="fa-lightbulb-o" title="Add context information topics to the selected file:"}}
						{{else}}
							{{#help-box}}
								<div class="c-help-box__hint">
									Each 3D model (BIM or point cloud file) can be enriched with context information. Context information is available as 'topics'. We support the topics 'history', 'environment' and 'legal' at the moment. Add a topic to a file in clicking the
									<i class="fa fa-plus" style="margin-left: 0.5em; margin-right: 0.5em;"></i> icon on the respective file and select the topics of interest.

									<br>
									<br> When adding a topic a dynamic search for related information is started. Linked data is crawled and added to the archive.

									<br>
									<br> The search will take some time to finish. The 'Details <i class="fa fa-arrow-circle-o-right"></i>' button allows you to inspect the progress and the results of the search.
								</div>
							{{/help-box}}
						{{/if}}
					{{/duraark-sidebar }}
				{{/if}}
			</div>

		</div>

	</div>
</div>
