<div class="page-content">
    <section class="content-list js-content-list" data-bindattr-849="849">
        <header class="floatingheader">
            <section class="content-filter">
                <small>All Sessions</small>
            </section>
            <a id="ember850" class="ember-view btn btn-green" href="/sessions" title="New Session"><span class="hidden">New Session</span></a>
        </header>

<section id="ember861" class="ember-view content-list-content js-content-scrollbox">
<ol class="posts-list">
{{#each session in sessions}}
	<li {{action "showSession" session}}id="ember877" class="ember-view active"><a id="ember879" class="ember-view permalink active" href="/ghost/1/" title="Edit this post">
	<h3 class="entry-title">{{session.name}}</h3>
             <section class="entry-meta">
                        &#9737;
                        {{!-- <img class="avatar" title="Martin Hecher" src="/shared/img/user-image.png" data-bindattr-882="882"> --}}
                        <span class="author">{{session.author}}</span>
                        <span class="status">
                                    <time datetime="1422791344895" class="date published">
                                        {{session.author}}
                                    </time>
                        </span>
                        <span class="status">
                                    <time datetime="1422791344895" class="date published">
                                        (Published an hour ago)
                                    </time>
                        </span>
             </section>
</a></li>
{{/each}}
 </ol>

</section>
</section>

<section class="content-preview js-content-preview">
  <header class="post-preview-header clearfix">
    <button id="ember888" class="ember-view btn btn-default btn-back">Back</button>
    <h2 class="page-title">Preview</h2>
  </header>
</section>

{{outlet}}

</div>
