<div class="da-session-header">{{name}}</div>
<div style="text-align: center;">Creator: {{author}} / {{created}}</div>

<div class="da-session-start">&#8213;&#8213;&#8213;</div>

<ul>
{{#each workflow in this.workflows}}
	<div class="da-session-next">&#8615;</div>

	<li class="da-session-workflow-header">
		<span>{{workflow.name}}</span>
	</li>

	{{dynamic-component type=workflow.component model=workflow.customData}}

	<div class="da-session-workflow-header"></div>
{{/each}}
</ul>  
