<div class="da-session-header">{{name}}</div>
<div style="text-align: center;">{{creator}} / {{createdAt}}</div>

<div class="da-session-next">&#8615;</div>

<div class="da-session-workflow-header">
	<span>Files</span>
</div>

{{workflow-overview-files stage=filestage editClicked="editStage"}}

<div class="da-session-workflow-header"></div>
<div class="da-session-next">&#8615;</div>

<div class="da-session-workflow-header">
	<span>Metadata</span>
</div>

{{metadata-stage stage=metadatastage editClicked="editStage"}}

<div class="da-session-workflow-header"></div>
<div class="da-session-next">&#8615;</div>

<div class="da-session-workflow-header">
	<span>Semantic Enrichment</span>
</div>

{{!-- {{workflow-overview-semanticenrichment model=wfSemEnrichment editClicked="editStage"}}

<div class="da-session-workflow-header"></div>
<div class="da-session-next">&#8615;</div>

<div class="da-session-workflow-header">
	<span>Geometric Enrichment</span>
</div>

{{workflow-overview-geometricenrichment model=wfGeoEnrichment editClicked="editStage"}}

<div class="da-session-workflow-header"></div>
<div class="da-session-next">&#8615;</div>

<div class="da-session-workflow-header">
	<span>SIP Generator</span>
</div>

{{workflow-overview-sipgenerator model=wfSipGenerator editClicked="editStage"}}

<div class="da-session-workflow-header"></div> --}}


{{!-- <ul>
{{#each workflow in this.workflows}}
	<div class="da-session-next">&#8615;</div>

	<div class="da-session-workflow-header">
		<span>{{workflow.name}}</span>
	</div>

	{{dynamic-component type=workflow.component model=workflow.customData editClicked="editStage"}}

	<div class="da-session-workflow-header"></div>
{{/each}}
</ul>   --}}
