{{duraark-header session=retrieveState.session title=retrieveState.title showWorkflowSteps=retrieveState.showWorkflowSteps activeStep=retrieveState.activeStep}}

<div class="l-duraark-page">

  <div class="l-files">

    <div class="l-explore__topics c-explore__topics">
      {{#duraark-sidebar overflowYAuto=true}}
        {{#each queries as |query|}}
          {{search-card query=query showResultsClicked="showResult"}}
        {{/each}}
      {{/duraark-sidebar}}
    </div>

    <div class="l-explore__results">

      {{#if app.showLoadingSpinner}}
        {{loading-spinner-center}}
      {{else}}
        {{#if hasResults}}
          {{#unless results.results.bindings.length}}
            <h1>No results for this query!</h1>
        {{else}}
          {{#duraark-sidebar}}
            {{#duraark-tool class="large" title="Results" hideClose=true fullscreen="maximizeToolUI" }}
              {{query-result-viewer results=results icon="fa-file-text-o"}}
            {{/duraark-tool}}
          {{/duraark-sidebar}}
          {{/unless}}
        {{else}}
          {{#if hasError}}
            <h1>ERROR: {{error}}</h1>
          {{else}}
            {{#help-box}}
              <div class="c-help-box__hint">
                For each 3D input file it is possible to add information topics. To show all available topics use the
                <i class="fa fa-plus" style="margin-left: 0.5em; margin-right: 0.5em;"></i> icon on the respective file and select one or more of the shown topics.

                <br>
                <br> When adding a topic the system is searching for related informations in public linked data clouds and stores that information within the DURAARK knowledge graph.

                <br>
                <br> The information gathering takes some time to finish. A loading spinner will be shown during the process is running. You can continue the pre-ingest workflow while this processing, it is not necessary to wait for it to finish.

                <br>
                <br> If the information is available a click on the added information topic shows the semantic links which are going to be added to the knowledge graph at the end of the pre-ingest workflow.
              </div>
            {{/help-box}}
          {{/if}}
        {{/if}}
      {{/if}}

    </div>
  </div>

  {{duraark-footer}}
</div>
