{{duraark-header session=retrieveState.session title=retrieveState.title showWorkflowSteps=retrieveState.showWorkflowSteps activeStep=retrieveState.activeStep}}

<div class="l-duraark-page">

  <div class="l-files">

    <div class="l-explore__topics c-explore__topics">
      {{#duraark-sidebar overflowYAuto=true}}
        <h2 style="margin: 1em;"><i class="fa fa-search"></i>&nbsp; Search queries:</h2>
        (if you don't see all suggestions for the variable fields in the query please reload the page with
        <em>Ctrl-F5</em>)
        <hr>

        {{#each queries as |query|}}
          {{search-card query=query showResultsClicked="showResult"}}
        {{/each}}
      {{/duraark-sidebar}}
    </div>

    <div class="l-explore__results">
      {{#if app.showLoadingSpinner}}
        {{loading-spinner-center}}
      {{else}}
        {{#if hasResults}}
          {{#unless results.results.bindings.length}}
            <h1>No results for this query!</h1>
          {{else}}
            {{#duraark-sidebar}}
              {{#duraark-tool class="large" title="Results" fullscreen="maximizeToolUI" }}
                {{query-result-viewer results=results icon="fa-file-text-o"}}
              {{/duraark-tool}}
            {{/duraark-sidebar}}
          {{/unless}}
        {{else}}
          {{#if hasError}}
            <h1>ERROR: {{error}}</h1>
          {{else}}
            {{#help-box}}
              <div class="c-help-box__hint">
                The building archive contains metadata for each building, as well as contextual data which is gathered from public linked data clouds. The contextual data is automatically added to each building when it is ingested into the archive.

                <br>
                <br> The metadata and the contextual information allow a user to formulate complex queries to search for buildings and also contextual data in the archive.

                <br>
                <br> This page contains a set of demo queries showcasing this functionality. In the background the queries are formulated via a query language (SPARQL). Users can add new queries or adjust existing ones to their needs.

              </div>
            {{/help-box}}
          {{/if}}
        {{/if}}
      {{/if}}

    </div>
  </div>

  {{duraark-footer}}
</div>
