{{duraark-header session=retrieveState.session title=retrieveState.title showWorkflowSteps=retrieveState.showWorkflowSteps activeStep=retrieveState.activeStep}}

<!-- <div class="l-duraark-workflow-steps c-duraark-workflow-steps">
  {{#link-to 'explore' classBinding "isActiveMetadata:is-active" class="l-2-item" }}<i class="fa fa-file-text-o"></i>&nbsp; Metadata{{/link-to}}
  {{#link-to 'explore' classBinding="isActiveMetadata" class="l-2-item" }}<i class="fa fa-folder-o"></i>&nbsp; Context Information{{/link-to}}
</div> -->

<div class="l-duraark-page">
  {{duraark-sidebar}}
    <div class="o-screen-center c-explore__emtpy">
      <h1>Select a building in the 'Search Building' tab first!</h1>
      {{#link-to "search"}}Go to Search{{/link-to}}
    </div>
  {{duraark-sidebar}}

  {{outlet}}
  {{duraark-footer}}
</div>
