<div class="l-files">
	<div class="l-file-list">
		{{#each file in model}}
			<div class="c-file">
				<div {{action "toggleSelection" file}}>
					<div class="c-file__header">{{file.type}}</div>
					<div class="c-file__name">{{file.path}}</div>
				</div>

				<div class="c-file__actions">
					<div class="c-file__actions__button">
						<h3 {{action "showDetails" file}}>Details</h3>
					</div>
				</div>

			</div>
		{{/each}}
	</div>

	{{#if showSidebar}}
		<div class="l-file-details">
			{{log selectedFile}}
			Showing details for:
			{{#if selectedFile}}
				{{selectedFile.path}}
			{{/if}}
		</div>
	{{/if}}
</div>
