<div class="l-files">
	<div class="l-file-list">

		<div class="c-file-list__category">
			<h3>Files: /duraark-storage/files</h3>
		</div>

			<table class="tables c-file-item" >

				<thead>
					<tr>
						<th></th>
						<th>Type</th>
						<th>Path</th>
						<th>Size</th>
						<th>Created at</th>
					</tr>
				</thead>

				{{#each file in model}}

					<tbody {{action "showDetails" file}}>
						<tr>
							<td>
								<button {{action "toggleSelection" file}}>Select</button>
							</td>
							<td>{{file.type}}</td>
							<td>{{file.path}}</td>
							<td>395 MB</td>
							<td>{{file.created}}</td>
						</tr>
					</tbody>

				{{/each}}
			</table>

	</div>

	{{#if showSidebar}}
		<div class="l-file-details">
			<!-- Showing details for: -->
			{{#if fileInfo}}
				{{buildm-viewer file=fileInfo}}
			{{/if}}
		</div>
	{{/if}}

</div>
