<div class="c-link-list">
  <div {{action 'back'}} class="c-link-list-grid-small">
    <div class="c-link-list-back">
      <h3><i class="fa fa-chevron-left"> </i> Semantic Enrichment </h3>
    </div>
  </div>
  <div {{action 'next'}} class="c-link-list-grid-small">
    <div class="c-link-list-next">
      <h3>Archive Transfer <i class="fa fa-chevron-right"> </i></h3>
    </div>
  </div>
</div>

<div class="l-files">
  <div class="l-file-list">
    {{#file-list files=digitalObjects as |do|}}
      <div>
        {{digital-object-sementic item=do details="showDetails" select="showTopicSelection"}}

        {{#each tool in do.geoTools}}
          {{topic-item topic=tool digitalObject=do select="showSelectedTopic" remove="removeTopic"}}
        {{/each}}
        --}} </div>
    {{/file-list}}
  </div>

  {{#if model}}
    <div class="l-file-details">

      {{#if isLoadingMetadata}}
        <div style="color: white;">LOADING ...</div>
        {{loading-spinner-center}}
      {{else}}

        {{#if fileInfo}}
          {{tool-selector digitalObject=do tools=tools click="clickedTool"}}
        {{else}}
          {{#if tool}}
            TODO: Display information on currently selected tool!
          {{else}}
            {{#help-box}}
              <div class="c-help-box__hint">
                For each point cloud scan you can apply tools which extract geometric information out of the scan.
                <br>
                <br> Supported are
                <br>
                <br>

                <ul style="margin-left: 1.5em;">
                  <li style="list-style-type: disc;">the reconstruction of a BIM model and</li>
                  <li style="list-style-type: disc;">the detection of electrical applicances in walls</li>
                </ul>
                <br> from the point cloud scan.
                <br><br> Use the <i class="fa fa-plus" style="margin-left: 0.5em; margin-right: 0.5em;"></i> sign on a point
                cloud file to select the tools which should be applied. The resulting files will be ingested into the archive.

                <br><br>

                The tools will take some time to finish the processing of the point cloud. A loading spinner will be shown when
                a process is working in the background. You can continue the pre-ingest workflow during this processing, it is not
                necessary to wait for the process.

                <br><br>

                If the result is already cached, the processing will only last a few seconds.
              </div>
            {{/help-box}}
          {{/if}}
        {{/if}}
      {{/if}}

    </div>
  {{/if}}
</div>
