<div class="c-button-list">
  <div class="c-button-list__content">

    <div class="c-link-list">
      <div {{action 'back'}} class="c-link-list-grid-small">
        <div class="c-link-list-back">
          <h3><i class="fa fa-chevron-left"> </i> Semantic Enrichment </h3>
        </div>
      </div>
      <div {{action 'next'}} class="c-link-list-grid-small"> 
        <div class="c-link-list-next">
          <h3>Archive Generation <i class="fa fa-chevron-right"> </i></h3>
        </div>
      </div>
    </div>
    
    <div {{action 'save'}} class="c-button">
      <div class="c-button__frame t-button-files">
        <div class="c-button__name">
          <h3>Save</h3>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="l-files">

  <div class="l-file-list">

    <!-- {{#file-list files=session.digitalObjects as |do|}}
        {{physical-asset-item item=do details="showDetails"}}

        {{geo-tool label="IFC Reconstruction" digitalObject=do toggleSelection="toggleToolSelection"}}
        {{geo-tool label="Electrical Appliance Detection" digitalObject=do toggleSelection="toggleToolSelection"}}

        {{add-item select="showTopicSelection" item=do}}
    {{/file-list}} -->

    {{#file-list files=digitalObjects as |do|}}
      <div>

        {{physical-asset-item item=do details="showDetails"}}

        {{#each tool in do.geoTools}}
          {{topic-item topic=tool digitalObject=do select="showSelectedTopic" remove="removeTopic"}}
        {{/each}}

        {{add-item select="showTopicSelection" item=do}}
      </div>
    {{/file-list}}

  </div>

  {{#if model}}
    <div class="l-file-details">

      {{#if isLoadingMetadata}}
        <div style="color: white;">LOADING ...</div>
        {{loading-spinner-center}}
      {{else}}

        {{#if fileInfo}}
          {{information-topic-selector digitalObject=do topics=tools click="clickedTool" }}
        {{else}}
          {{#if tool}}
            TODO: Display information on currently selected tool!
          {{else}}
            <h2 class="title" style="color: white;">For each point cloud scan a set of tools can be applied, e.g. a reconstruction of a BIM model as IFC file or the automatic detection of in-wall electrical applicances. Enable a tool in activating the respective tile.</h2>
          {{/if}}
        {{/if}}
      {{/if}}

    </div>
  {{/if}}
</div>
