<main id="main">
	<section class="content-view-container">
	    <section class="content-list">
	        <header class="floatingheader">
	            <section class="manage content-filter">
	                <small>Metadata</small>
	            </section>
	        </header>

			<section>
				<button class="btn btn-green" {{action "save"}}> Save</button>   
			</section>

			<section class="content-list-content js-content-scrollbox">        
				<ol class="fe-list">
					<li class="da-file-entry">Descriptive Metadata</li>
					<li {{action "selectItem" stage.physicalAsset}}>     
						{{physical-asset-overview item=stage.physicalAsset}}
					</li>
					{{#each item in stage.digitalObjects}}
					<li {{action "selectItem" item}}>                
						{{digital-object-overview item=item}}
					</li>  	
					{{/each}}	
					<li class="da-file-entry">Technical Metadata (non-editable)</li>
					{{#each item in stage.e57ms}}
					<li {{action "selectItem" item}}>                
						{{e57m-overview item=item}}
					</li>
					{{/each}}

					{{#each item in stage.ifcms}}
					<li {{action "selectItem" item}}>                
						{{ifcm-overview item=item}}
					</li>
					{{/each}}	
				</ol>
			</section> 
		</section>

		<section class="content-preview">
			<header class="floatingheader">
			    <small>
			        <span class="status">Editor</span>
			    </small>
			</header>

			<section class="content-preview-content">
				{{outlet}}
			</section>
		</section>
	</section>
</main>


