<main id="main">
	<section class="content-view-container">
	    <section class="content-list">
	        <header class="floatingheader">
	            <section class="manage content-filter">
	                <small>Metadata Files</small>
	            </section>
	        </header>

			<section>
				<button class="btn btn-green" {{action "save"}}> Save</button>   
			</section>

			<section class="content-list-content js-content-scrollbox">        
				<ol class="posts-list">
				{{!-- {{file-explorer items=stage.metadata selectFile="editMetadata"}} --}}

					<div class="fe-list"{{action "editMetadata" stage.buildm}}>buildm</div>
					<div class="fe-list"{{action "editMetadata" stage.ifcm}}>ifcm</div>
					<div class="fe-list"{{action "editMetadata" stage.e57m}}>e57m</div>

				</ol>
			</section> 
		</section>

		<section class="content-preview">
			<header class="floatingheader">
			    <small>
			        <span class="status">Editor</span>
			    </small>
			</header>

			<section class="content-preview-content">
			{{#if physicalAsset}}
				<h3>PhysicalAsset</h3>
			{{/if}}

			{{#if digitalObjects.length}}
				<h3>DigitalObjects: {{digitalObjects.length}}</h3>
			{{/if}}

			{{#each instance in digitalObjects}}
				{{metadata-item item=instance onSave="saveMetadata"}}
			{{/each}}

			</section>
		</section>
	</section>
</main>


