<div class="c-button-list">
	<div class="c-button-list__content">

		<div {{action 'next'}} class="c-button">
			<div class="c-button__frame t-button-files">
				<div class="c-button__name">
					<h3>Next</h3>
				</div>
			</div>
		</div>

		<div class="c-button">
			<div class="c-button__frame t-button-files">
				<div class="c-button__name">
					<h3>Back</h3>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="l-files">

	<div class="l-file-list">

		{{#file-list files=session.physicalAssets as |pa|}}
			{{physical-asset-item item=pa details="showDetails"}}
		{{/file-list}}

		{{#file-list files=session.digitalObjects as |do|}}
			{{physical-asset-item item=do details="showDetails"}}
		{{/file-list}}

	</div>

	{{#if model}}
		<div class="l-file-details">

			{{#if isLoadingMetadata}}
				<div style="color: white;">LOADING ...</div>
				{{loading-spinner-center}}
			{{else}}

				{{#if fileInfo}}
					{{#if isIFC}}
						{{metadata-editor-ifc buildm=fileInfo.buildm}}
					{{/if}}

					{{#if isE57}}
						{{digital-object-editor buildm=fileInfo.buildm}}
					{{/if}}

					{{#if isPhysicalAsset}}
						{{metadata-editor-physicalasset buildm=fileInfo.buildm}}
					{{/if}}


				{{else}}
					<h2 class="title" style="color: white;">Select a building or a plan on the left to edit its metadata.</h2>
				{{/if}}
			{{/if}}

		</div>
	{{/if}}
</div>
