{{duraark-header title="Search Knowledge Graph"}}

<div class="l-files">

  <div class="l-file-list">

    <h2 style="margin-top: 3em;"></h2>

    <!-- <hr> -->

    <!-- {{#file-list files=digitalObjects as |do|}}
      <div>
        {{digital-object-sementic item=do details="showDetails" select="showTopicSelection"}}

        {{#each query in queries}}
          {{tool-item tool=query digitalObject=do select="showSelectedTopic" remove="removeTopic"}}
        {{/each}}
      </div>
    {{/file-list}} -->


      {{query-selector digitalObject=do tools=queries click="setResult" icon="fa-search"}}

    </div>

    {{#if model}}
      <div class="l-file-details">

        {{#if isLoadingMetadata}}
          <div style="color: white;">LOADING ...</div>
          {{loading-spinner-center}}
        {{else}}

          {{#if result.candidates}}
            {{query-result-viewer result=result icon="fa-file-text-o"}}
          {{else}}
              {{#help-box}}
                <div class="c-help-box__hint">
                  For each 3D input file it is possible to add information topics. To show all available topics use the
                  <i class="fa fa-plus" style="margin-left: 0.5em; margin-right: 0.5em;"></i> icon on the respective file and select one or more of the shown topics.

                  <br>
                  <br> When adding a topic the system is searching for related informations in public linked data clouds and stores that information within the DURAARK knowledge graph.

                  <br>
                  <br> The information gathering takes some time to finish. A loading spinner will be shown during the process is running. You can continue the pre-ingest workflow while this processing, it is not necessary to wait for it to finish.

                  <br>
                  <br> If the information is available a click on the added information topic shows the semantic links which are going to be added to the knowledge graph at the end of the pre-ingest workflow.
                </div>
              {{/help-box}}
          {{/if}}
        {{/if}}

      </div>
    {{/if}}
  </div>
