<div class="page-content">
    <section class="content-list js-content-list" data-bindattr-849="849">
        <header class="floatingheader">
            <section class="content-filter">
                <small>Custom Search & Retrieve Interface</small>
            </section>
{{!--             <a id="ember850" class="ember-view btn btn-green" href="/ghost/editor/" title="New Session"><span class="hidden">New Session</span></a> --}}
        </header>

		<section class="content-list-content js-content-scrollbox">
			<ol style="overflow: auto; height: 60%;" class="posts-list">
				<li>
					<div style="margin: 35px;width: 85%;">

					<h4 style="margin-bottom: 15px;">Filters ({{filters.length}})</h4>

					{{#custom-select value="Select..." action="selectProperty"}}
						{{#each item in properties}}
							{{#custom-option value=item.name}}{{item.name}}{{/custom-option}}
						{{/each}}
					{{/custom-select}}

					{{input type="text" value=propertyValue size="10" placeholder="Search value"}}

					<div style="margin: 10px; overflow: hidden;">
						<button {{action "addFilter"}} class="btn btn-green-line btn-left"  title="Add Filter">Add</button>
						{{#if filters.length}}
						<button {{action "clearAllFilters"}} class="btn btn-blue-line btn-right" title="Clear all filters">Clear All</button>
						{{/if}}
					</div>

					<ul style="clear: both; margin: 20px;">
					{{#each filter in filters}}
						<li style="margin: 10px; font-size: 20px;"><strong>{{filter.property}}:</strong> {{filter.value}}
            						<div {{action "clearFilter" filter}} class="btn btn-red btn-tiny btn-right" title="Remove Filter">x</div>
            					</li>
					{{/each}}
					</ul>
        </div>
				</li>
			</ol>

			{{view "map"}}
		</section>
	</section>

    <section class="content-preview js-content-preview">
		<header class="floatingheader">
			<section>
				<small>
					<span class="status">Search Results ({{model.buildings.length}} buildings)</span>
				</small>
			</section>
		</header>

		<ul style="margin-top: 25px;">
		{{#each item in buildings}}
			<hr>
			<li>{{physical-asset model=item}}</li>
		{{/each}}
			<hr>
		</ul>

		{{outlet}}

	</section>
</div>
