<div class="page-content">
    <section class="content-list js-content-list" data-bindattr-849="849">
        <header class="floatingheader">
            <section class="content-filter">
                <small>Custom Search & Retrieve Interface</small>
            </section>
{{!--             <a id="ember850" class="ember-view btn btn-green" href="/ghost/editor/" title="New Session"><span class="hidden">New Session</span></a> --}}
        </header>

		<section id="ember861" class="ember-view content-list-content js-content-scrollbox">        
			<ol class="posts-list">

				<li>
					<div style="margin: 35px;width: 85%;">

					<h4 style="margin-bottom: 15px;">Define a search template:</h4>

					{{input type="text" value=searchTerm disabled=entryNotAllowed size="10" placeholder="Search term"}}

					<div style="margin-top: 15px;">... and select properties you want to be searched. Properties are defined by the SDA.</div>

					<ul style="margin-top: 15px;">
						<li>{{input type="checkbox" name="location" checked=location}} Location</li>
						<li>{{input type="checkbox" name="description" checked=description}} Description</li>
						<li>{{input type="checkbox" name="levels" checked=levels}} Levels</li>
						<li>{{input type="checkbox" name="rooms" checked=rooms}} Rooms</li>
					</ul>

					<div style="padding-left: 10px; margin-top: 20px;border-width: 1px;border-style: solid; width: 100px;"><i class="icon-add"></i> SEARCH</div>

					<div style="margin-top: 35px; margin-bottom: -10px;">(You can store your search below for later reuse.)</div>

					</div>
				</li>

				<li>
				    <header class="topheader">
			            <section class="content-filter">
			                <small>Predefined & saved search templates</small>
			            </section>
                        <a id="ember850" class="ember-view btn btn-green" href="/ghost/editor/" title="Add current template"><span class="hidden">Add current template</span></a>
			        {{!-- </header> --}}

					<ul style="margin-top: 35px;">
						<li style="margin: 30px;">Location-based search <a id="ember850" class="ember-view btn btn-green btn-red" href="/ghost/editor/" title="Delete"><span class="hidden">Delete</span></a></li>
						<li style="margin: 30px;">Geometry-based search <a id="ember850" class="ember-view btn btn-green btn-red" href="/ghost/editor/" title="Delete"><span class="hidden">Delete</span></a></li>
						<li style="margin: 30px;">Find all buildings with x floors <a id="ember850" class="ember-view btn btn-green btn-red" href="/ghost/editor/" title="Delete"><span class="hidden">Delete</span></a></li>
						<li style="margin: 30px;">Find all buildings build around xxx <a id="ember850" class="ember-view btn btn-green btn-red" href="/ghost/editor/" title="Delete"><span class="hidden">Delete</span></a></li>
					</ul>

					</div>
				</li>

			</ol>
		</section>
	</section>

    <section class="content-preview js-content-preview" data-bindattr-862="862">
        {{!-- <div id="ember680" class="ember-view">
        <header class="post-preview-header clearfix">
	    	<button id="ember888" class="ember-view btn btn-default btn-back">Back</button>
	    	<h2 class="page-title">Preview</h2>
		</header>
		</div> --}}

		<h4 style="margin-top: 50px;">Results</h4>
		
		<ul style="margin-top: 35px;">
			<hr>
			<li style="margin: 30px;">Building #1: Description</li>
			<hr>
			<li style="margin: 30px;">Building #2: Description</li>
			<hr>
			<li style="margin: 30px;">Building #3: Description</li>
			<hr>
			<li style="margin: 30px;">Building #4: Description</li>
			<hr>
		</ul>

		{{outlet}}

	</section>
</div>