{{duraark-header session=retrieveState.session title=retrieveState.title showWorkflowSteps=retrieveState.showWorkflowSteps activeStep=retrieveState.activeStep}}

<div class="l-page-with-header">

  {{duraark-building-filter filterChanged="onFilterChanged"}}
  {{building-list buildings=buildings openBuilding="openBuildingAsSession" showBuildingDetails="showDetails"}}

  <!-- {{x-map places=places selected=selectedBuilding}} {{duraark-footer}} -->

  {{#toggle-menu}}
    <nav>
      <ul style="color: black;">
        <li>
          {{filter-view selectedBuilding="showBuildings"}}
        </li>
      </ul>
    </nav>
  {{/toggle-menu}}

  {{#if showSidebarDetails}}
    {{sidebar-details building=selectedBuilding uri=selectedUri}}
  {{/if}}

</div>
