{{duraark-header session=retrieveState.session title=retrieveState.title showWorkflowSteps=retrieveState.showWorkflowSteps activeStep=retrieveState.activeStep}}

<div class="l-duraark-workflow-steps c-duraark-workflow-steps is-casting-shadow">
  {{#link-to 'preingest.files' session classBinding="filesActive:is-active" class="is-active l-4-item"}}<i class="fa fa-folder-o"></i>&nbsp; Location Search{{/link-to}}
  {{#link-to 'preingest.metadata' session classBinding="metadataActive" class="l-4-item"}}<i class="fa fa-file-text-o"></i>&nbsp; Geometric Search{{/link-to}}
  {{#link-to 'preingest.metadata' session classBinding="metadataActive" class="l-4-item"}}<i class="fa fa-file-text-o"></i>&nbsp; Metadata Search{{/link-to}}
  {{#link-to 'preingest.metadata' session classBinding="metadataActive" class="l-4-item"}}<i class="fa fa-file-text-o"></i>&nbsp; Custom Search{{/link-to}}
</div>

<div class="l-duraark-page is-casting-shadow">

  <div class="l-search__content">
    <div class="l-search__left-sidebar">
      {{duraark-building-filter addressCountryItems=addressCountryItems filterChanged="onFilterChanged"}}
    </div>

    <div class="l-search__map">
      {{x-map places=places selected=selectedBuilding}}
    </div>

    <div class="l-search__right-sidebar">
      {{building-list buildings=buildings header="Buildings" openBuilding="openBuildingAsSession" showBuildingDetails="showDetails" showMetadata="showMetadata"}}
    </div>
  </div>


  <!-- {{#toggle-menu}}
    <nav>
      <ul style="color: black;">
        <li>
          {{filter-view selectedBuilding="showBuildings"}}
        </li>
      </ul>
    </nav>
  {{/toggle-menu}}

  {{#if showSidebarDetails}}
    {{sidebar-details building=selectedBuilding uri=selectedUri}}
  {{/if}} -->

  {{duraark-footer}}
</div>
