{{duraark-header session=retrieveState.session title=retrieveState.title showWorkflowSteps=retrieveState.showWorkflowSteps activeStep=retrieveState.activeStep}}

<div class="l-duraark-preingest-steps c-duraark-preingest-steps is-casting-shadow">
  <div {{action "activateSearchTab" "location"}} class="{{if locationActive "active"}} l-3-item"><i class="fa fa-folder-o"></i>&nbsp; Location Properties</div>
  <div {{action "activateSearchTab" "geometric"}} class="{{if geometricActive "active"}} l-3-item"><i class="fa fa-folder-o"></i>&nbsp; Geometric Properties</div>
  <div {{action "activateSearchTab" "metadata"}} class="{{if metadataActive "active"}} l-3-item"><i class="fa fa-folder-o"></i>&nbsp; Other Properties</div>
  <!-- <div {{action "activateSearchTab" "custom"}} class="{{if customActive "active"}} l-4-item"><i class="fa fa-folder-o"></i>&nbsp; Custom Search</div> -->
</div>

<div class="l-duraark-page is-casting-shadow">

  <div class="l-search__content">
    <div class="l-search__left-sidebar">
      {{duraark-building-filter addressCountryItems=addressCountryItems activeTab=activeTab filterChanged="onFilterChanged"}}
    </div>

    <div class="l-search__map">
      {{x-map places=places selected=selectedBuilding}}
    </div>

    <div class="l-search__right-sidebar">
      {{building-list buildings=buildings header="Buildings" openBuilding="openBuildingAsSession" showBuildingDetails="showDetails" showMetadata="showMetadata"}}
    </div>
  </div>


  <!-- {{#toggle-menu}}
    <nav>
      <ul style="color: black;">
        <li>
          {{filter-view selectedBuilding="showBuildings"}}
        </li>
      </ul>
    </nav>
  {{/toggle-menu}}

  {{#if showSidebarDetails}}
    {{sidebar-details building=selectedBuilding uri=selectedUri}}
  {{/if}} -->

  {{duraark-footer}}
</div>
