<main id="main">
	<section class="content-view-container">
	    <section class="content-list">
	        <header class="floatingheader">
	            <section class="manage content-filter">
	                <small>Selected enrichments</small>
	            </section>
	        </header>

			<section>
				<button class="btn btn-green" {{action "save"}}> Save</button>   
			</section>

			<section class="content-list-content js-content-scrollbox">        
				<ol class="posts-list">
					{{enrichment-explorer items=stage.selectedItems selectItem="deselectItem"}}
				</ol>
			</section> 
		</section>

		<section class="content-preview">
			<header class="floatingheader">
			    <small>
			        <span class="status">Available Enrichments</span>
			    </small>
			</header>

			<section class="content-preview-content">
				<h4>Semantic Enrichment</h4>
				<br>
				<div class="fe-list-item-header">By clicking the button below the system will search for semantic enrichment based on location information present in the IFC file. Be aware that already selected enrichments will be discarded in this case.</div>
				<br>
				<center><button {{action "getSemanticEnrichments"}} class="btn btn-green-line" title="Get semantic enrichment">Update Enrichments</button></center>
				<hr>

				{{#if isUpdatingEnrichments}}
					<div style="font-size: 20px;"><center><strong>Searching archive for enrichments, be patient ...</strong></center></h4>

					<br><br>

					{{loading-spinner-center}}
				{{else}}
					{{#if stage.availableItems.length}}
					<div style="font-size: 20px;"><strong>Available Enrichments:</strong></h4>

					<br><br>
						{{enrichment-explorer items=stage.availableItems selectItem="selectItem"}}
					{{else}}
						<br><br>
						<center><h3>No enrichments loaded yet.</h3></center>
					{{/if}}
				{{/if}}

			</section>
		</section>
	</section>
</main>



