<main id="main">
	<section class="content-view-container">
	    <section class="content-list">
	        <header class="floatingheader">
	            <section class="manage content-filter">
	                <small>Enrichments stored in Archive</small>
	            </section>
	        </header>

			<section>
				<button class="btn btn-green" {{action "save"}}> Save</button>   
			</section>

			<section class="content-list-content js-content-scrollbox">        
				<ol class="posts-list">
					{{enrichment-explorer items=stage.selectedItems selectItem="deselectItem"}}
				</ol>
			</section> 
		</section>

		<section class="content-preview">
			<header class="floatingheader">
			    <small>
			        <span class="status">Available Enrichments</span>
			    </small>
			</header>

			<section class="content-preview-content">
				<h4>Semantic Enrichment</h4>
				<br>
				<div class="fe-list-item-header">A semantic enrichment is based on information from a certain IFC file, called a 'seed'. Below you can choose, which seed the search will be based on (e.g. the postal address) and which file should be taken as input.</div>
				<br>

				<center>Information seed:</center>
				<div style="width: 50%; margin-left: auto; margin-right: auto;">
					{{view "select" content=locationPivots value=selectedPivot}}
				</div>

				<br>

				{{#each file in ifcFiles}}
					<center><button {{action "getSemanticEnrichments" file}} class="btn btn-green-line" title="Get semantic enrichment">Search Enrichments</button> for <strong>{{file.filename}}</strong></center>
					<br>
				{{/each}}

				<hr>

				{{#if isUpdatingEnrichments}}
					<div style="font-size: 20px;"><center><strong>Searching archive for enrichments, be patient ...</strong></center></h4>

					<br><br>

					{{loading-spinner-center}}
				{{else}}
					{{#if uniqueAvailableItems.length}}
					<div style="font-size: 20px;">Available Enrichments: <strong>{{shownFile.filename}}</strong> <small>(seed: {{selectedPivot}})</small></h4>

					<br><br>
						{{enrichment-explorer items=uniqueAvailableItems selectItem="selectItem"}}
					{{else}}
						<br><br>
						<center><h3>No enrichments yet.</h3></center>
					{{/if}}
				{{/if}}

			</section>
		</section>
	</section>
</main>



