<div class="c-button-list">
  <div class="c-button-list__content">

    <div {{action 'next'}} class="c-button">
      <div class="c-button__frame t-button-files">
        <div class="c-button__name">
          <h3>Next</h3>
        </div>
      </div>
    </div>

    <div {{action 'back'}} class="c-button">
      <div class="c-button__frame t-button-files">
        <div class="c-button__name">
          <h3>Back</h3>
        </div>
      </div>
    </div>

    <div {{action 'save'}} class="c-button">
      <div class="c-button__frame t-button-files">
        <div class="c-button__name">
          <h3>Save</h3>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="l-files">

  <div class="l-file-list">

    {{#file-list files=digitalObjects as |do|}}
      <div>

        {{physical-asset-item item=do details="showDetails"}}

        {{#each topic in do.semMD.topics}}
          {{topic-item topic=topic remove="removeTopic" select="selectTopic"}}
        {{/each}}

        {{add-item select="showTopics" item=do}}
      </div>
    {{/file-list}}

  </div>

  {{#if model}}
    <div class="l-file-details">

      {{#if isLoadingMetadata}}
        <div style="color: white;">LOADING ...</div>
        {{loading-spinner-center}}
      {{else}}

        {{#if fileInfo}}
          {{information-topic-selector digitalObject=fileInfo topics=topics session=session click="clickedTopic" }}
        {{else}}
          <h2 class="title" style="color: white;">Select a plan or point cloud to enricht it with information topics.</h2>
        {{/if}}
      {{/if}}

    </div>
  {{/if}}
</div>
