<main id="main">
	<section class="content-view-container">
	    <section class="content-list">
	        <header class="floatingheader">
	            <section class="manage content-filter">
	                <small>Selected enrichments</small>
	            </section>
	        </header>

			<section>
				<button class="btn btn-green" {{action "save"}}> Select</button>   
			</section>

			<section class="content-list-content js-content-scrollbox">        
				<ol class="posts-list">
					{{enrichment-explorer items=stage.selectedItems selectItem="deselectItem"}}
				</ol>
			</section> 
		</section>

		<section class="content-preview">
			<header class="floatingheader">
			    <small>
			        <span class="status">Available enrichments</span>
			    </small>
			</header>

			<section class="content-preview-content">
				<div class="fe-list-item-header">Click to select...</div>
				<hr>
				<button {{action "getSemanticEnrichments"}} class="btn btn-green-line" title="Get semantic enrichment">Search Enrichments</button>

				{{#if stage.availableItems.length}}
					{{enrichment-explorer items=stage.availableItems selectItem="selectItem"}}
				{{else}}
					<br><br>
					<h3>No enrichments loaded yet.</h3>
				{{/if}}

			</section>
		</section>
	</section>
</main>



