<div class="c-button-list">
	<div class="c-button-list__content">

		<div {{action 'back'}} class="c-button">
			<div class="c-button__frame t-button-files">
				<div class="c-button__name">
					<h3>Back</h3>
				</div>
			</div>
		</div>

		<div {{action 'createRosettaSIP'}} class="c-button">
			<div class="c-button__frame t-button-files">
				<div class="c-button__name">
					<h3>Rosetta SIP</h3>
				</div>
			</div>
		</div>

    <div {{action 'createBagItSIP'}} class="c-button">
			<div class="c-button__frame t-button-files">
				<div class="c-button__name">
					<h3>BagIt SIP</h3>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="l-files">

	<div class="l-file-list">

		{{#file-list files=session.physicalAssets as |pa|}}
			{{physical-asset-item item=pa details="showDetails"}}
		{{/file-list}}

		{{#file-list files=session.digitalObjects as |do|}}
		<div>
			{{physical-asset-item item=do details="showDetails"}}

			{{#each topic in do.semMD.topics}}
				{{topic-item topic=topic digitalObject=do select="showSelectedTopic" remove="removeTopic"}}
			{{/each}}
		</div>
		{{/file-list}}

	</div>

	{{#if model}}
		<div class="l-file-details">

			{{#if isLoadingMetadata}}
				<div style="color: white;">LOADING ...</div>
				{{loading-spinner-center}}
			{{else}}

				{{#if fileInfo}}
					{{#if isIFC}}
						{{buildm-editor buildm=fileInfo.buildm type="digitalObject" save="updateMetadata"}}
					{{/if}}

					{{#if isE57}}
						{{buildm-editor buildm=fileInfo.buildm type="digitalObject" save="updateMetadata"}}
					{{/if}}

					{{#if isPhysicalAsset}}
						{{buildm-editor buildm=fileInfo.buildm type="physicalAsset" save="updateMetadata"}}
					{{/if}}

				{{else}}
					<h2 class="title" style="color: white;">On the left an overview of the archive is shown. Check the content of the data with a click on the respective tile.</h2>
				{{/if}}

			{{/if}}

		</div>
	{{/if}}
</div>
