<div class="c-link-list">
	<div {{action 'back'}} class="c-link-list-grid-small">
		<div class="c-link-list-back">
			<h3><i class="fa fa-chevron-left"> </i> Metadata</h3>
		</div>
	</div>
</div>

<div class="l-files">

	<div class="l-file-list">

		{{#file-list files=session.physicalAssets as |pa|}}
			{{physical-asset-item item=pa details="showDetails"}}
		{{/file-list}}

		{{#file-list files=session.digitalObjects as |do|}}
			<div>
				{{physical-asset-item item=do details="showDetails"}}

				{{#each topic in do.semMD.topics}}
					{{topic-item topic=topic digitalObject=do select="showSelectedTopic" remove="removeTopic"}}
				{{/each}}

				{{#each tool in do.geoTools}}
					{{tool-item tool=tool digitalObject=do select="showSelectedTool" remove="removeTool" infoClicked="showToolInfo"}}
				{{/each}}

			</div>
		{{/file-list}}

	</div>

	{{#if model}}
		<div class="l-file-details">

			{{#if isLoadingMetadata}}
				<div style="color: white;">LOADING ...</div>
				{{loading-spinner-center}}
			{{else}}

				{{#if fileInfo}}
					{{#if isIFC}}
						{{buildm-editor buildm=fileInfo.buildm type="digitalObject" save="updateMetadata"}}
					{{/if}}

					{{#if isE57}}
						{{buildm-editor buildm=fileInfo.buildm type="digitalObject" save="updateMetadata"}}
					{{/if}}

					{{#if isPhysicalAsset}}
						{{buildm-editor buildm=fileInfo.buildm type="physicalAsset" save="updateMetadata"}}
					{{/if}}

				{{else}}
					{{#help-box}}
						<div class="c-help-box__hint">
							On the left an overview of the items which will be packaged into a Rosetta SIP to be deposit to the Rosetta DPS or a BagIt SIP for downloading locally.

							<br>
							<br> It is necessary that all items are ready before the packaging process.

							<br>
							<br> A loading spinner indicates, that an item is still being processed.
						</div>
					{{/help-box}}

					<div style="margin-left: auto; margin-right: auto; margin-top: 3em">
						<div class="c-link-list-right__generation">
							<div class="c-link-list-grid-small">
								<button {{action "createRosettaSIP"}}>Deposit to Rosetta</button>
							</div>
							<div class="c-link-list-grid-small">
								<button {{action "createBagItSIP"}}>Download BagIt SIP</button>
							</div>
						</div>
					</div>
				{{/if}}

			{{/if}}

		</div>
	{{/if}}
</div>
